{% extends 'radmin/base.html' %}
{% load static %}
{% block title %} :: Relief PRO::  Hospital {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
     <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Add Hospital</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills mb-3" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#hospitalDetails" role="tab">Hospital Details</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">Images</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#contact" role="tab">Contact Details</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#insurance" role="tab">Insurance</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#personal" role="tab">Personal Details</a></li>
                        </ul>
                        <form method="post">
                        {% csrf_token %}
                        <div class="tab-content">                        
                            <div class="tab-pane fade show active" id="hospitalDetails" role="tabpanel">
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                        <h6 class="mb-0 fw-bold ">Doctor Basic Inforamtion</h6>
                                    </div>
                                    <div class="card-body">                                        
                                        <div class="row g-3 align-items-center">
                                            <div class="col-md-6">
                                                <label for="hopital_name" class="form-label">Hopital Name *</label>
                                                <input type="text" class="form-control" id="hopital_name" name="hopital_name" placeholder="Hopital Name"  required>
                                            </div>
                                            <div class="col-md-6">
                                                <label  class="form-label">Specilist IN *</label>
                                                <select class="form-select" aria-label="Default select example" name="specialist">
                                                    <option selected disabled>Specilist</option>
                                                    <option value="1">PHYSICIAN</option>
                                                    <option value="2">SURGEN</option>
                                                    <option value="3">CARDIOLOGY</option>
                                                    <option value="4">NEUROLOGISTS</option>
                                                </select>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="about" class="form-label">About Hospital *</label>
                                                <textarea  class="form-control" id="about" rows="4" name="about" placeholder="write about  Hopital or Add Hospital Details "></textarea>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="address" class="form-label">Address Line 1 *</label>
                                                <input type="tel" class="form-control" id="address1" name="address1" placeholder="Hospital Address " required>
                                            </div>
                                            <div class="col-md-12">
                                                <label for="address" class="form-label">Address Line 2 *</label>
                                                <input type="tel" class="form-control" id="address2" name="address2" placeholder="Hospital Address " required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="city" class="form-label">City</label>
                                                <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="pin_code" class="form-label">Pincode</label>
                                                <input type="text" class="form-control" id="pin_code" name="pin_code" placeholder="Pin Code"  required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="state" class="form-label">State</label>
                                                <input type="text" class="form-control" id="state" name="state" placeholder="state"  required disabled value="Gujarat">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Country" class="form-label">Country</label>
                                                <input type="text" class="form-control" id="country" name="country" placeholder="Country"  required disabled value="india">
                                            </div>                                            
                                            <div class="col-md-6">
                                                <label for="landline" class="form-label">Country</label>
                                                <input type="text" class="form-control" id="landline" name="landline" placeholder="landline"  required>
                                            </div>                                            
                                            <div class="col-md-6">
                                                <label for="establishment_year" class="form-label">Establishment Year</label>
                                                <input type="date" class="form-control" id="admitdate" name="establishment_year"  required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="registration_number" class="form-label">Registration Number</label>
                                                <input type="text" class="form-control" id="registration_number"  name="registration_number" placeholder="Hospital Registration Number" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="formFileMultiple" class="form-label">Document Upload (Registration Proof)</label>
                                                <input class="form-control" type="file" id="registration_proof" name="registration_proof" placeholder="Hospital Documents" multiple required>
                                            </div>                                        
                                            <div class="col-md-12">
                                                    <label for="speciality" class="form-label">Social link</label>
                                                    <div class="row g-3 row-cols-1 row-cols-lg-4">
                                                        <div class="col"><input type="url" class="form-control" id="facebook" name="facebook"  placeholder="Facebook Link"></div>
                                                        <div class="col"><input type="url" class="form-control" id="instagram" name="instagram"  placeholder="Instagram Link"></div>
                                                        <div class="col"><input type="url" class="form-control" id="linkedin" name="linkedin"  placeholder="linkedin Link"></div>
                                                        <div class="col"><input type="url" class="form-control" id="twitter" name="twitter" required placeholder="Twitter Link"></div>
                                                    </div>
                                                    
                                            </div>
                                            <div class="col-md-12">
                                                    <label for="WebSite Link" class="form-label">WebSite Link</label>
                                                    <div class="row g-3 row-cols-1 row-cols-lg-4">
                                                        <div class="col"><input type="url" class="form-control" id="website" name="website"  placeholder="www.example.com"></div>
                                                    </div>
                                                    
                                            </div>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel">
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                        <h6 class="mb-0 fw-bold ">Hospital Media</h6>
                                    </div>
                                    <div class="card-body media_div">
                                        <div class="row g-3 align-items-center media_div_row first_media">
                                            <div class="col-md-4">
                                                <label  class="form-label">Media Type</label>
                                                <select class="form-select media_type" aria-label="Default select example" name="media_type[]">
                                                    <option value="1">Image</option>
                                                    <option value="2">Video</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="formFileMultiple" class="form-label">Media</label>
                                                <input class="form-control select_media" type="file" id="registration_proof" name="media_content[]"  >
                                            </div>
                                            <div class="col-md-4">
                                                <label>Preview</label>
                                                    <br>
                                                    <img style="width:70%;display:none" class="img_preview">
                                                    <br>
                                                    <video style="width:70%;display:none" class="video_preview" controls> 
                                            </div>
                                             <br>
                                        </div> 
                                                                              
                                    </div>
                                    <div class="card-body">
                                     <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary mt-4 form-control add_media">Add</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger mt-4 form-control remove_media">Delete</button>
                                        </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel">
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                        <h6 class="mb-0 fw-bold ">Hospital Contact Details</h6>
                                    </div>
                                    <div class="card-body contact_div">
                                        <div class="row g-3 align-items-center coontact_div_row first_contact">
                                            <div class="col-md-4">
                                                <label for="Phone" class="form-label">Phone Number *</label>
                                                <input type="text" class="form-control hospital_mobile" id="mobile" name="hospital_mobile[]" placeholder="Enter Phone Number" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="email" class="form-label">Email *</label>
                                                <input type="email" class="form-control hospital_email" id="email" name="hospital_email[]" placeholder="Enter Email" >
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                     <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary mt-4 form-control add_contact">Add</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger mt-4 form-control remove_contact">Delete</button>
                                        </div>
                                     </div>
                                     </div>
                                </div>
                               
                            </div>                           
                            <div class="tab-pane fade" id="insurance" role="tabpanel">=
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                        <h6 class="mb-0 fw-bold ">Insurance Accepted</h6>
                                    </div>
                                    <div class="card-body insurance_div">
                                        <div class="row g-3 align-items-center insurance_div_row first_insurance">
                                            <div class="col-md-6">
                                                <label for="insurance_type" class="form-label">Insurance Type</label>
                                                <select class="form-select insurance_type" aria-label="Default select example" id="insurance_type" name="insurance_type[]">
                                                    <option value="1">CashLess</option>
                                                    <option value="2">No Cahsless</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Insurance" class="form-label">Insurance Name</label>
                                                <input class="form-control insurance_name" type="text" id="insurance_name" name="insurance_name[]"  >
                                            </div>
                                            
                                        </div>                                        
                                    </div>
                                    <div class="card-body">
                                     <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary mt-4 form-control add_insurance">Add</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-danger mt-4 form-control remove_insurance">Delete</button>
                                        </div>
                                     </div>
                                    </div>
                                </div>
                            </div>                             
                            <div class="tab-pane fade" id="personal" role="tabpanel">
                                <div class="card mb-3">
                                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                        <h6 class="mb-0 fw-bold ">Doctor Basic Inforamtion</h6>
                                    </div>
                                    <div class="card-body">                                    
                                        <div class="row g-3 align-items-center">
                                            <div class="col-md-2">
                                                <label  class="form-label">Title *</label>
                                                <select class="form-select" aria-label="Default select example" name="name_title">
                                                <option value="Mr."> Mr.</option>
                                                <option value="Mrs."> Mrs.</option>
                                                <option value="Miss"> Miss</option>
                                                <option value="Ms."> Ms.</option>
                                                <option value="Dr."> Dr.</option>
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                                <label for="first_name" class="form-label">First Name *</label>
                                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Hopital Name"  required>
                                            </div>
                                            <div class="col-md-5">
                                                <label for="last_name" class="form-label">Last Name *</label>
                                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Hopital Name"  required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="phone" class="form-label">Phone *</label>
                                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Hopital Name"  required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="alternate_mobile" class="form-label">Alternate Phone</label>
                                                <input type="tel" class="form-control" id="alternate_mobile" name="alternate_mobile" placeholder="Hopital Name"  required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="email" class="form-label">Email *</label>
                                                <input type="email" class="form-control" id="email" name="email" placeholder="Hopital Name"  required>
                                            </div>                                          
                                        </div>
                                    </div>
                                    <div class="card-body">
                                     <div class="row g-3 align-items-center">                                       
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary mt-4 form-control">Add Hospital</button>
                                        </div>
                                     </div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     
{% endblock content %}

{% block custom_js %}


<script>
//for medias tab
    $(".add_media").click(function(){
        var media_row=$(".first_media").clone();
        media_row.removeClass("first_media");  
        media_row.replaceAll("src","")
        media_row.find(".select_media").val("");
        media_row.find(".img_preview").attr("src","").css({"border":"none"}).css({"border-radius":"0px"}).hide();
        media_row.find(".video_preview").attr("src","").css({"border":"none"}).css({"border-radius":"0px"}).hide();

        $(".media_div").append(media_row);
    });
    $(".remove_media").click(function(){
        if ($(".media_div").find(".media_div_row").length>1){
            $(".media_div").children().last().remove();
        }
    });

    $(document).on("change",".select_media",function(){
        var media_type=$(this).parents(".media_div_row").find(".media_type").val();
        var img_preview=$(this).parents(".media_div_row").find(".img_preview");
        var vid_preview=$(this).parents(".media_div_row").find(".video_preview");
        showPreviewMedia(this,media_type,img_preview,vid_preview);

    });

    function showPreviewMedia(input,media_type,img_preview,video_preview){
        if(input.files && input.files[0]){
            var reader=new FileReader();
            reader.onload=function(e){
                if(media_type=="1"){
                    img_preview.attr("src",e.target.result);
                    img_preview.show();
                    img_preview.css({"border":"5px solid orange"});
                    img_preview.css({"border-radius":"10px"});
                }
                if(media_type=="2"){
                    video_preview.attr("src",e.target.result);
                    video_preview.show();
                    video_preview.css({"border":"5px solid orange"});
                    video_preview.css({"border-radius":"10px"});
                    video_preview.load();
                    video_preview.play();
                    
                }                
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
 //For Treatment
    $(".add_treatment").click(function(){
        var about_row=$(".first_treatment").clone();
        about_row.removeClass("first_treatment");  
        about_row.find(".treatment").val("");
        about_row.find(".treatment_rates").val("");
        $(".treatment_div").append(about_row);
    });
    $(".remove_treatment").click(function(){
        if ($(".treatment_div").find(".treatment_div_row").length>1){
            $(".treatment_div").children().last().remove();
        }
    });
// for Contact details tab
    $(".add_contact").click(function(){
        var about_row=$(".first_contact").clone();
        about_row.removeClass("first_contact");  
        about_row.find(".hospital_email").val("");
        about_row.find(".hospital_mobile").val("");
        $(".contact_div").append(about_row);
    });
    $(".remove_contact").click(function(){
        if ($(".contact_div").find(".coontact_div_row").length>1){
            $(".contact_div").children().last().remove();
        }
    });

// for insurance details tab
    $(".add_insurance").click(function(){
        var about_row=$(".first_insurance").clone();
        about_row.removeClass("first_insurance");  
        about_row.find(".insurance_type").val("");
        about_row.find(".insurance_name").val("");
        $(".insurance_div").append(about_row);
    });
    $(".remove_insurance").click(function(){
        if ($(".insurance_div").find(".insurance_div_row").length>1){
            $(".insurance_div").children().last().remove();
        }
    });

    // for Other Service details tab
    $(".add_other").click(function(){
        var about_row=$(".first_other").clone();
        about_row.removeClass("first_other");  
        about_row.find(".other_service").val("");
        about_row.find(".other_rates").val("");
        $(".other_div").append(about_row);
    });
    $(".remove_other").click(function(){
        if ($(".other_div").find(".other_div_row").length>1){
            $(".other_div").children().last().remove();
        }
    });

    $(".submit_btn").click(function(){
        var form=new FormData($("#myform")[0]);
       // form.append("long_desc",tinyMCE.activeEditor.getContent());

        //Ajax code
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange=function(){
            if(xhr.status==200){
                console.log(xhr.responseText);
            }
        }
        xhr.open("POST","{% url 'hospital_add' %}",true);
        $("#progressbar").show();
        
        

        //Updating Prograssbar
        xhr.upload.addEventListener("progress",function(ev){
            if(ev.lengthComputable){
                var percentage=(ev.loaded/ev.total*100|0);
                $("#progressbar").css({"width":""+percentage+"%"}).text("Uploading..."+percentage+"%");
                console.log(percentage);
                
            }
        });
        xhr.send(form);

    })

</script>



{% endblock custom_js %}