{% extends 'radmin/base.html' %}
{% load static %}
{% block title %} :: I-Health::  Hospitals {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
 
    <!-- Body: Body -->       
<div class="body d-flex py-lg-3 py-md-2">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="border-0 mb-4">
                <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                    <h3 class="fw-bold mb-0">All Hospitals</h3>
                    <div class="col-auto d-flex w-sm-100">
                        {% comment %} <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#depadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add Departments</button> {% endcomment %}
                    </div>
                </div>
            </div>
        </div> <!-- Row end  -->
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Hospital Name</th> 
                                    <th>City</th> 
                                    <th>Phone</th>   
                                    <th>Verify</th>   
                                    <th>Actions</th>  
                                </tr>
                            </thead> 
                            <tbody>
                            {% for hospital in hospitals_list %}
                                <tr>
                                    <td>
                                        <span class="fw-bold">{{forloop.counter}}</span>
                                    </td>
                                    <td>
                                        <img class="avatar rounded-circle" src="{{hospital.profile_pic}}" alt="">
                                        <span class="fw-bold ms-1">{{hospital.hopital_name}}</span>
                                    </td>
                                    <td>
                                        {{hospital.city}}
                                    </td>
                                    <td>
                                         {{hospital.landline}}
                                    </td>
                                   
                                    </td>
                                    {% comment %} <td>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#depedit{{hospital.id}}"><i class="icofont-edit text-success"></i></button>
                                            <button type="button" class="btn btn-outline-secondary deleterow"><i class="icofont-ui-delete text-danger"></i></button>
                                        </div>
                                    </td> {% endcomment %}
                                    {% if hospital.is_verified is not True %}
                                        {% if hospital.is_appiled %}
                                        <td>
                                            <a href="{% url 'hospitalactivate' hospital.id %}" class="btn btn-primary">Appllied</a>
                                        </td>
                                       {% elif hospital.is_deactive%}
                                        <td>
                                                <a href="{% url 'hospitalactivate' hospital.id %}"  class="btn btn-danger" disabled>Rejected</a>
                                        </td>
                                        {% else %}
                                        <td>
                                            <a class="btn btn-warning">Progess</a>
                                        </td>
                                        {% endif %}
                                    
                                    {% else %}
                                        <td>
                                            <a href="{% url 'hospitaldeactivate' hospital.id %}" class="btn btn-success">Activated</a>
                                        </td>
                                    {%endif%}
                                        <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Action</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button> 
                                            <ul class="dropdown-menu border-0 shadow py-3 px-2">
                                                <li><a class="dropdown-item py-2 rounded" href="{% url 'hospital_profile_admin' hospital.id %}">View Profile</a></li
                                                <li><a class="dropdown-item py-2 rounded" href="{% url 'hospital_delete_admin' hospital.id %}">Delete</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item py-2 rounded" data-bs-toggle="modal" data-bs-target="#depedit{{hospital.id}}">Contact Person</a></li>
                                            </ul>
                                        </div></td><!-- /btn-group -->
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>
 
{% endblock content %}
{% block modal_fade %}
<!-- Add Department-->
        <div class="modal fade" id="depadd" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel"> Department Add</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1111" class="form-label">Department Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1111">
                    </div>
                    <div class="deadline-form">
                        <form>
                            <div class="row g-3 mb-3">
                              <div class="col-sm-6">
                                <label for="depone" class="form-label">Department Head</label>
                                <input type="text" class="form-control" id="depone">
                              </div>
                              <div class="col-sm-6">
                                <label for="deptwo" class="form-label">Staff UnderWork</label>
                                <input type="text" class="form-control" id="deptwo">
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Edit Department-->
        {% for hospital in hospitals_list %}
        <div class="modal fade" id="depedit{{hospital.id}}" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depeditLabel"> Department Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput11111" class="form-label">Email</label>
                        <input type="text" class="form-control" id="exampleFormControlInput11111" disabled value="{{hospital.admin.email}}"> 
                    </div>
                    <div class="deadline-form">
                            <div class="row g-3 mb-3">
                              <div class="col-sm-6">
                                <label for="deptwo48" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="deptwo48" disabled value="{{hospital.admin.first_name}}">
                              </div>
                              <div class="col-sm-6">
                                <label for="deptwo48" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="deptwo48" disabled value="{{hospital.admin.last_name}}">
                              </div>
                            </div>
                            <div class="row g-3 mb-3">
                              <div class="col-sm-6">
                                <label for="deptwo48" class="form-label">Mobile</label>
                                <input type="text" class="form-control" id="deptwo48" disabled value="{{hospital.admin.phone}}">
                              </div>
                              <div class="col-sm-6">
                                <label for="deptwo48" class="form-label">Username</label>
                                <input type="text" class="form-control" id="deptwo48" disabled value="{{hospital.admin.username}}">
                              </div>
                            </div>
                       
                    </div>
                </div>
            </div>
            </div>
        </div> 
        {% endfor %}
{% endblock modal_fade %}

{% block custom_js %}
<script>
    // project data table
    $(document).ready(function() {
        $('#myProjectTable')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
                { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });
        $('.deleterow').on('click',function(){
        var tablename = $(this).closest('table').DataTable();  
        tablename
            .row( $(this)
            .parents('tr') )
            .remove()
            .draw();

        } );
    });
</script>
{% endblock custom_js %}