{% extends 'radmin/base.html' %}
{% load static %}
{% block title %} :: I-Health:: Hospital Detail {% endblock title %}

{% block custom_css %}
<style>
    a {
        text-decoration: none;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    a:hover {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .style-4 {
        background: ;
        color: #fff;
        font: 13px Montserrat;
        text-transform: uppercase;
        padding: 11px;
        font-weight: 600;
        max-width: 250px;
        display: block;
        text-align: center;
        margin: 10px auto;
        position: relative;
        -moz-transform: skewX(-6deg);
        -webkit-transform: skewX(-6deg);
        -o-transform: skewX(-6deg);
        -ms-transform: skewX(-6deg);
        transform: skewX(-6deg);
        box-shadow: inset -150px 0 0 0 #6aab9c, inset 200px 0 0 0 #6aab9c;
        /* set the 150 for maximum width division */
        -webkit-transition: box-shadow 0.5s ease-out;
        -moz-transition: box-shadow 0.5s ease-out;
        -ms-transition: box-shadow 0.5s ease-out;
        -o-transition: box-shadow 0.5s ease-out;
        transition: box-shadow 0.5s ease-out;
    }

    .style-4:hover {
        -webkit-transition: box-shadow 0.5s ease-out;
        -moz-transition: box-shadow 0.5s ease-out;
        -ms-transition: box-shadow 0.5s ease-out;
        -o-transition: box-shadow 0.5s ease-out;
        transition: box-shadow 0.5s ease-out;
        box-shadow: inset 200px 0 0 0 #9f4d4e, inset -200px 0 0 0 #9f4d4e;
        /* set the 150 for maximum width division */
        color: #fff;
    }
</style>
{% endblock custom_css %}

{% block content %}
<!-- Body: Body -->
<div class="body d-flex py-3">
    <div class="container-xxl">

        <div class="row g-3">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card teacher-card  mb-3">
                    <div class="card-body d-flex teacher-fulldeatil">
                        <div class="profile-teacher pe-xl-4 pe-md-2 pe-sm-4 pe-4 text-center w220">
                            <a href="#">
                                <img src="{{patient.profile_pic}}" alt=""
                                    class="avatar xl rounded-circle img-thumbnail shadow-sm">
                            </a>
                            <div class="about-info d-flex align-items-center mt-3 justify-content-center flex-column">
                                <span class="text-muted small">PATIENT ID: P{{patient.id}}</span>
                            </div>
                        </div>
                        <div class="teacher-info border-start ps-xl-4 ps-md-4 ps-sm-4 ps-4 w-100">
                            <h6 class="mb-0 mt-2  fw-bold d-block fs-6">{{patient.admin.name_title}}. {{patient.fisrt_name}} {{patient.last_name}}</h6>
                            <span class="py-1 fw-bold small-11 mb-0 mt-1 text-muted">{{patient.bloodgroup}}</span>
                            <p class="mt-2">{{patient.gender}}</p>
                            <div class="row g-2 pt-2">                                
                                <div class="col-xl-3">
                                    <div class="d-flex align-items-center">
                                        <i class="icofont-birthday-cake"></i>
                                        <span class="ms-2">{{patient.dob}}</span>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="d-flex align-items-center">
                                        <i class="icofont-address-book"></i>
                                        <span
                                            class="ms-2">{{patient.address}}{{patient.city}}{{patient.pin_code}}{{patient.state}}{{patient.country}}</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->

        <div class="row g-3 mb-3">
            <div class="col-xl-12">

                <div class="card g-3 mb-3">

                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                        <h6 class="mb-0 fw-bold ">Number Of Booking For Hospital</h6>

                    </div>

                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Ref.No</th>
                                    <th>Booking Date</th>                                   
                                    <th>Hospital Name</th>    
                                    <th>Amount</th> 
                                    <th>Status</th>   
                                    <th>Actions</th>  
                                </tr>
                            </thead> 
                            <tbody>
                            {% for hospital in booking %}
                                <tr>
                                    <td> 
                                        <span class="fw-bold">HB-{{hospital.id}}</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold ms-1">{{hospital.applied_date}}</span>
                                    </td>
                                    <td>
                                        {{hospital.hospitalstaffdoctor.hospital}}
                                    </td>
                                    <td>
                                         {{hospital.amount}}
                                    </td>
                                   
                                    </td>
                                    
                                    <td>
                                        {% if hospital.is_cancelled %}
                                        Cancelled By user
                                        {% else %}
                                            {{ hospital.status }}
                                        {% endif %}
                                        
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#hosdetail{{hospital.id}}">Details</button>                                    
                                    </td><!-- /btn-group -->
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card g-3 mb-3">

                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                        <h6 class="mb-0 fw-bold ">Number Of Booking For Laboratory</h6>

                    </div>

                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Ref.No</th>
                                    <th>Date</th> 
                                    <th>Laboratory Name</th>    
                                    <th>Services</th>
                                    <th>Amount</th> 
                                    <th>Status</th>  
                                    <th>Details</th>  
                                </tr>
                            </thead> 
                            <tbody>
                            {% for hospital in allslot_list %}
                                <tr>
                                    <td> 
                                        <span class="fw-bold">LB-{{hospital.slot.id}}</span>
                                    </td>
                                    <td>
                                        <span class="fw-bold ms-1">{{hospital.slot.applied_date}}</span>
                                    </td>
                                    <td>
                                        {{hospital.slot.lab}}
                                    </td>
                                    <td>   <ul> 
                                        {% for labtest in hospital.labtests %}
                                            <li>{{labtest.service}}</li>
                                          {% endfor %}
                                          </ul>
                                    </td>
                                   
                                    <td>
                                         {{hospital.slot.amount}}
                                   </td>
                                    <td>
                                            {{ hospital.slot.status }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#labdetail{{hospital.slot.id}}">Details</button>
                                    </td><!-- /btn-group --> 
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

        </div><!-- Row End -->
        <div class="card mb-3">
           
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                        <h6 class="mb-0 fw-bold ">Appointment</h6>
                    </div>
                    <div class="card-body">
                        <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Patient</th>
                                    <th>Appointment</th>
                                    <th>Last Visit</th>
                                    <th>Age</th>
                                    <th>Number</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>P015</td>
                                    <td>
                                        <img src="assets/images/xs/avatar1.jpg" class="avatar rounded-circle me-2"
                                            alt="profile-image">
                                        <span class="fw-bold">Alexander</span>
                                    </td>
                                    <td>Jan 11, 2021</td>
                                    <td>Dec 25, 2020</td>
                                    <td>23</td>
                                    <td>404-447-6013</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                </tr>
                                <tr>
                                    <td>P016</td>
                                    <td>
                                        <img src="assets/images/xs/avatar2.jpg" class="avatar rounded-circle me-2"
                                            alt="profile-image">
                                        <span class="fw-bold">Cameron</span>
                                    </td>
                                    <td>Jan 11, 2021</td>
                                    <td>Dec 26, 2020</td>
                                    <td>30</td>
                                    <td>404-447-9696</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                </tr>
                                <tr>
                                    <td>P017</td>
                                    <td>
                                        <img src="assets/images/xs/avatar3.jpg" class="avatar rounded-circle me-2"
                                            alt="profile-image">
                                        <span class="fw-bold">Alex lee</span>
                                    </td>
                                    <td>Jan 16, 2021</td>
                                    <td>Dec 28, 2020</td>
                                    <td>55</td>
                                    <td>404-447-5858</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                </tr>
                                <tr>
                                    <td>P018</td>
                                    <td>
                                        <img src="assets/images/xs/avatar4.jpg" class="avatar rounded-circle me-2"
                                            alt="profile-image">
                                        <span class="fw-bold">Richard</span>
                                    </td>
                                    <td>Jan 20, 2021</td>
                                    <td>Dec 28, 2020</td>
                                    <td>47</td>
                                    <td>404-447-6013</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                </tr>
                                <tr>
                                    <td>P020</td>
                                    <td>
                                        <img src="assets/images/xs/avatar5.jpg" class="avatar rounded-circle me-2"
                                            alt="profile-image">
                                        <span class="fw-bold">Stephen</span>
                                    </td>
                                    <td>Jan 20, 2021</td>
                                    <td>Dec 30, 2020</td>
                                    <td>26</td>
                                    <td>404-447-2536</td>
                                    <td>123 6th St. Melbourne, FL 32904</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>

{% endblock content %}


{% block modal_fade %}
{% for hospital in booking %}
    <div class="modal fade" id="hosdetail{{hospital.id}}" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Detail Of HB - {{hospital.id}} </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 30rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Doctor Name : {{hospital.hospitalstaffdoctor}}</li>
                            <li class="list-group-item">Service :{{hospital.service}}</li>
                            <li class="list-group-item">Appllied Date: {{hospital.applied_date}}</li>
                            <li class="list-group-item">Appllied Time: {{hospital.applied_time}}</li>
                            <li class="list-group-item">Status: {{hospital.status}}</li>
                            <li class="list-group-item">Acceptd Date: {{hospital.accepted_date}}</li>
                            <li class="list-group-item">Visited Date: {{hospital.taken_date}}</li>
                            <li class="list-group-item">Rejected Date:{{hospital.rejected_date}}</li>
                            <li class="list-group-item">Is Cancelled:{{hospital.is_cancelled}}</li>
                            <li class="list-group-item">Remark Note: {{hospital.add_note}}</li>
                            <li class="list-group-item">Is active{{hospital.is_active}}</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!--For Lab tast modal-->
{% for hospital in allslot_list %}
    <div class="modal fade" id="labdetail{{hospital.slot.id}}" tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Detail Of LB - {{hospital.slot.id}} </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 30rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Lab Name : {{hospital.slot.lab}}</li>
                            
                            <li class="list-group-item">Service <ol>{% for labtest in hospital.labtests %}<li>{{labtest.service}}</li>{% endfor %}</ol></li>
                            <li class="list-group-item">Appllied Date: {{hospital.slot.applied_date}}</li>
                            <li class="list-group-item">Appllied Time: {{hospital.slot.applied_time}}</li>
                            <li class="list-group-item">Status: {{hospital.slot.status}}</li>
                            <li class="list-group-item">Acceptd Date: {{hospital.slot.accepted_date}}</li>
                            <li class="list-group-item">Visited Date: {{hospital.slot.taken_date}}</li>
                            <li class="list-group-item">Rejected Date:{{hospital.slot.rejected_date}}</li>
                            <li class="list-group-item">Is Cancelled:{{hospital.slot.is_cancelled}}</li>
                            <li class="list-group-item">Remark Note: {{hospital.slot.add_note}}</li>
                            <li class="list-group-item">Is active{{hospital.slot.is_active}}</li>
                            
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock modal_fade %}


{% block custom_js %}

<script>
    $(document).on("click", "#sbt_button", function (e){
        e.preventDefault();
        var scdat = document.getElementById('schdate').innerHTML
        var schtime = document.getElementById('schtime').innerHTML
        var  val1= $("select[name=\'serviceid[]\']").map(function() {return $(this).val();}).toArray();
        console.log(val1)
        
        $.ajax({
            type: 'POST',
            url: "{% url 'labbookanappointment' %}",
            data: {
                'labid':"{{lab.id}}",
                'doctorid':'blank',
                'serviceid[]':val1,
                'time':schtime,
                'date':scdat,
                'csrfmiddlewaretoken': "{{csrf_token}}",
                'action': 'Laboratory'
            },
            success: function (json) {
                console.log(json)
                window.location.replace("{% url 'checkout' %}");
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })
        

    $(".add_about").click(function(){
        var about_row=$(".first_about").clone();
        about_row.removeClass("first_about");  
        about_row.find(".about_title").val("");
        $(".about_div").append(about_row);
    });
    $(".remove_about").click(function(){
        if ($(".about_div").find(".about_div_row").length>1){
            $(".about_div").children().last().remove();
        }
    });

</script>

{% endblock custom_js %}