{% load static %}
 <div class="sidebar px-4 py-4 py-md-5 me-0 ">
        <div class="d-flex flex-column h-100">
            <a href="{% url 'pharmacy_home' %}" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <i class="icofont-heart-beat fs-2"></i>
                </span>
                <span class="logo-text">I-Health</span>
            </a>
            <!-- Menu: main ul -->

            <ul class="menu-list flex-grow-1 mt-3">
             {% url 'pharmacy_home' as pharmacy_home %}
                <li class="collapsed">
                <a class="m-link {% if request.path == pharmacy_home %} active {% endif %}" data-bs-toggle="collapse" data-bs-target="#dashboard" href="#">
                <i class="icofont-ui-home fs-5"></i> <span>Dashboard</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->               
                    <ul class="sub-menu collapse {% if request.path == pharmacy_home %} show {% endif %}" id="dashboard">
                        <li><a class="ms-link {% if request.path == pharmacy_home %} active {% endif %}" href="{% url 'pharmacy_home' %}">Hospital Dashboard</a></li>
                        <li><a class="ms-link" href="coviddashboard.html"> Covid-19 Dashboard</a></li>
                    </ul>
                </li> 
               
                {% url 'view_pharmacy_appointment' as view_pharmacy_appointment %}
                {% url 'delete_pharmacy_appointment' as delete_pharmacy_appointment %}
                {% url 'manage_room' as manage_room %}
                {% url 'pharmacy_manage_gallery' as pharmacy_manage_gallery %}
                {% url 'manage_price' as manage_price %}
                <li class="collapsed">
                    <a class="m-link {% if request.path == view_pharmacy_appointment %} active {% endif %}{% if request.path == delete_pharmacy_appointment %} active {% endif %}{% if request.path == manage_room %} active {% endif %}{% if request.path == pharmacy_manage_gallery %} active {% endif %}{% if request.path == manage_price %} active {% endif %}" data-bs-toggle="collapse" data-bs-target="#menu-Department" href="#">
                        <i class="icofont-nurse-alt fs-5"></i> <span>Department</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse {% if request.path == view_pharmacy_appointment %} show {% endif %} {% if request.path == delete_pharmacy_appointment %} show {% endif %}{% if request.path == manage_room %} show {% endif %}{% if request.path == pharmacy_manage_gallery %} show {% endif %}{% if request.path == manage_price %} show {% endif %}" id="menu-Department">
                            <li><a class="ms-link{% if request.path == view_pharmacy_appointment %} active {% endif %}" href="{% url 'view_pharmacy_appointment' %}">Manage Appointment</a></li>
                            <li><a class="ms-link{% if request.path == manage_department %} active {% endif %}" href="{% url 'manage_department' %}">Manage Invoices</a></li>
                            <li><a class="ms-link{% if request.path == pharmacy_manage_gallery %} active {% endif %}" href="{% url 'pharmacy_manage_gallery' %}">Manage Gallery</a></li>
                            
                        </ul>
                </li>

                
                
            </ul>
            
            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>