

{% extends './accountsBase.html' %} 
{% load static %}
{% block custom_css %}
{% endblock custom_css %}
    
{% block content %} 

                    <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                        <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
                            <!-- Form -->
                            <form class="row g-1 p-3 p-md-4" method="post">
                            {% csrf_token %}
                                <div class="col-12 text-center mb-5">
                                    <h1>Sign in</h1>
                                    <span>Free access to our dashboard.</span>
                                </div>
                                <div class="col-12 text-center mb-4">
                                    <a class="btn btn-lg btn-outline-secondary btn-block" href="#">
                                        <span class="d-flex justify-content-center align-items-center">
                                            <img class="avatar xs me-2" src="{% static '/radmin/assets/images/google.svg'%}" alt="Image Description">
                                            Sign in with Google
                                        </span>
                                    </a>
                                    <span class="dividers text-muted mt-4">OR</span>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <label class="form-label">Email address</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Enter Email or Mobiel Nunber" name="username" id="username">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mb-2">
                                        <div class="form-label">
                                            <span class="d-flex justify-content-between align-items-center">
                                                Password
                                                <a  href="auth-password-reset.html">Forgot Password?</a>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control form-control-lg" placeholder="***************" name="password" id="password">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="lsRememberMe" id="rememberMe">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Remember me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <button type="submit" class="btn btn-lg btn-block btn-light lift text-uppercase" onclick="lsRememberMe()" atl="signin">SIGN IN</bUtton>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <span>Don't have an account yet? 
                                        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Sign up here
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="{% url 'patientsingup' %}">As a Patient</a></li>
                                            <li><a class="dropdown-item" href="{% url 'hospitalsingup' %}">As a Hospital</a></li>
                                            <li><a class="dropdown-item" href="{% url 'doctorsingup' %}">As a Doictor</a></li>
                                            <li><a class="dropdown-item" href="{% url 'labsingup' %}">As a Laboratory</a></li>
                                            <li><a class="dropdown-item" href="{% url 'pharmacysingup' %}">As a Pharmacist</a></li>
                                        </ul>
                                        </span>
                                </div>
                            </form>
                            <!-- End Form -->
                            
                        </div>
                    </div>
                   </div>               
    
{% endblock content %}

{% block custom_js %}
<script>
    const rmCheck = document.getElementById("rememberMe"),
    emailInput = document.getElementById("username");
    passwordInput = document.getElementById("password");

    if (localStorage.checkbox && localStorage.checkbox !== "") {
    rmCheck.setAttribute("checked", "checked");
    emailInput.value = localStorage.username;
    passwordInput.value = localStorage.password;
    } else {
    rmCheck.removeAttribute("checked");
    emailInput.value = "";
    passwordInput.value = "";
    }

    function lsRememberMe() {
    if (rmCheck.checked && emailInput.value && passwordInput.value  !== "") {
        localStorage.username = emailInput.value;
        localStorage.password = passwordInput.value;
        localStorage.checkbox = rmCheck.value;
    } else {
        localStorage.username = "";
        localStorage.checkbox = "";
    }
    }
</script>
{% endblock custom_js %}