{% extends './accountsBase.html' %} 
{% load static %}
{% block custom_css %}
<style>
      input[type=number] {
          height: 45px;
          width: 45px;
          font-size: 25px;
          text-align: center;
          border: 1px solid #000000;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    </style>
    <script>
      function getCodeBoxElement(index) {
        return document.getElementById('codeBox' + index);
      }
      function onKeyUpEvent(index, event) {
        const eventCode = event.which || event.keyCode;
        if (getCodeBoxElement(index).value.length === 1) {
          if (index !== 4) {
            getCodeBoxElement(index+ 1).focus();
          } else {
            getCodeBoxElement(index).blur();
            // Submit code
            console.log('submit code ');
          }
        }
        if (eventCode === 8 && index !== 1) {
          getCodeBoxElement(index - 1).focus();
        }
      }
      function onFocusEvent(index) {
        for (item = 1; item < index; item++) {
          const currentElement = getCodeBoxElement(item);
          if (!currentElement.value) {
              currentElement.focus();
              break;
          }
        }
      }
    </script>
{% endblock custom_css %}
    
{% block content %}



                    <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
                        <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">
                            <!-- Form -->
                            <form class="row g-1 p-3 p-md-4" action="{% url 'OTP_Gen' user.phone %}" method="post">
                            {% csrf_token %}
                                <div class="col-12 text-center mb-5">
                                    <img src="{% static '/radmin/assets/images/verify.svg'%}" class="w240 mb-4" alt="" />
                                    <h1>Verification</h1>
                                    <span>We sent a verification code to your Phone. Enter the code from the Phone in the field below.</span>
                                </div>
                                <div class="col">
                                    <div class="mb-2">
                                        <input class="form-control form-control-lg text-center"  id="codeBox1" type="number" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" name="first">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2">
                                        <input class="form-control form-control-lg text-center" id="codeBox2" type="number" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" name="second">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2">
                                        <input class="form-control form-control-lg text-center" id="codeBox3" type="number" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" name="third">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-2">
                                        <input class="form-control form-control-lg text-center" id="codeBox4" type="number" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" name="forth">
                                    </div>
                                </div>
                                
                                <div class="col-12 text-center mt-4">
                                    <button title="submit" class="btn btn-lg btn-block btn-light lift text-uppercase">Verify my Mobile With {{user.otp}}</button>
                                </div>
                                <div class="col-12 text-center mt-4">
                                    <span >Haven't received it? <a href="{% url 'verifyPhone' user.phone %}">Resend a new code.</a></span>
                                </div>
                            </form>
                           
                            <!-- End Form -->
                            
                        </div>
                    </div>
                
   
{% endblock content %}

{% block custom_js %}
<script>
    function checkedFunc(element1Id) {
    
        var myLayer = document.getElementById('acceptbtn');
        var element1 = document.getElementById(element1Id);
    if (element1.checked == true) {
            myLayer.class = "submit";
            myLayer.removeAttribute("disabled");
    } else {
            myLayer.class = "button:disabled";
            myLayer.setAttribute("disabled","disabled");
    };
    }

    
</script>
{% endblock custom_js %}
