
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Zionico - Health and Medical HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<!-- Place favicon.ico in the root directory -->
		<link rel="shortcut icon" type="image/x-icon" href="img/tittle_icon/favicon1.png">

		<!-- CSS Here -->
			<!-- Main CSS style -->
			<link rel="stylesheet" href="css/style.css">
			<!-- Responsive CSS -->
			<link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
		<!-- header_start -->
		<header>
			<div class="header-main">
				<div class="header-top h2-header-border d-none d-md-block">
					<div class="container-fluid">
						<div class="row d-flex align-items-center">
							<div class="col-xl-8 col-lg-8 col-md-10">
								<div class="header-info h1-header-info">
									<ul>
										<li><i class="fas fa-phone"></i> +18008339780</li>
										<li> <i class="fas fa-envelope"></i> info@example.com</li>
										<li><i class="fas fa-map-marker-alt"></i> 27 Division St, New York, NY 10002 </li>
									</ul>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-2">
								<div class="header-right h1-header-right d-flex f-right">
									<span><a href="#">Get A Quote</a></span>
									<!-- social-link -->
									<div class="header-social h1-header-social d-none d-lg-block">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-behance"></i></a>
										<a href="#"><i class="fab fa-youtube"></i></a>
										<a href="#"><i class="fab fa-linkedin-in"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-bottm header-sticky">
					<div class="container-fluid d-flex justify-content-between align-items-center">
						<div class="logo">
							<a class="logo-desktop" href="index.html"><img src="img/logo/logo2.png" alt=""></a>
							<a class="logo-mobile" href="index.html"><img src="img/logo/logo__mobile2.png" alt=""></a>
						</div>
						<div class="min-menu h1-min-menu">
							<nav id="mobile-menu">
								<ul>
									<li><a href="index.html">Home</a>
										<ul class="submenu">
											<li><a href="index.html">Home Page 01</a></li>
											<li><a href="index-2.html">Home Page 02</a></li>
										</ul>
									</li>
									<li><a href="about.html">About</a>
										<ul class="submenu">
											<li><a href="about.html">About Us</a></li>
											<li><a href="appointment.html">Appointment</a></li>
										</ul>
									</li>
									<li><a href="services-01.html">Services</a>
										<ul class="submenu">
											<li><a href="services-01.html">Services Page 01</a></li>
											<li><a href="services-02.html">Services Page 02</a></li>
											<li><a href="services-details.html">Service Details</a></li>
										</ul>
									</li>
									<li><a href="#">Pages</a>
										<ul class="submenu">
											<li><a href="about.html">About Us</a></li>
											<li><a href="appointment.html">Appointment</a></li>
											<li><a href="services-01.html">Services - 01</a></li>
											<li><a href="services-02.html">Services - 02</a></li>
											<li><a href="services-details.html">Service Details</a></li>
											<li><a href="news_feeds.html">News - 01</a></li>
											<li><a href="news_feeds_nosidebar.html">News - 02</a></li>
											<li><a href="news_details.html">News Details - 01</a></li>
											<li><a href="news_details_nosidebar.html">News Details - 02</a></li>
											<li><a href="contacts.html">Contact Us</a></li>
										</ul>
									</li>
									<li><a href="news_feeds.html">Blog</a>
										<ul class="submenu">
											<li><a href="news_feeds.html">News - 01</a></li>
											<li><a href="news_feeds_nosidebar.html">News - 02</a></li>
											<li><a href="news_details.html">News Details - 01</a></li>
											<li><a href="news_details_nosidebar.html">News Details - 02</a></li>
										</ul>
									</li>
									<li><a href="contacts.html">Contact</a></li>
								</ul>
							</nav>
						</div>
						<div class="header-btn d-none d-xl-block">
							<a href="#" class="btn yellow-btn red-btn">make appointment</a>
						</div>
					</div>
					<div class="mobile-menu-active">
						<div class="container-fluid">
							<!-- mobile-menu -->
							<div class="row">
								<div class="col-sm-12">
									<div class="mobile-menu"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- header_end -->
		<main>
			<!-- hero_start -->
			<section class="hero-area">
				<div class="h1-hero-bg news-feeds-overly pt-160 pb-200" data-background="img/news_feeds/02_news_feeds.jpg">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xl-12">
								<div class="news-feeds-caption text-center">
									<h1>Our Main Goal</h1>
									<!-- breadcrumb -->
									<nav aria-label="breadcrumb">
                                        <ol class="breadcrumb justify-content-center">
											<li class="breadcrumb-item"><a href="index.html">Home</a></li>
											<li class="breadcrumb-item"><span class="news-text-color">About</span></li>
                                        </ol>
                                    </nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- hero_end -->

			<!-- extra_services_start -->
			<section class="extra-services">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="extra-services-wrapper extra-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-6">
										<div class="extra-single mb-75">
											<div class="small-tittle h1-small-tittle">
												<span>Top Doctors</span>
											</div>
											<div class="extra-caption mb-30">
												<h4>Are Available</h4>
												<p>Lorem ipsum dolor sit amet, consecte-tur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
												<a href="#">Read More</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6">
										<div class="extra-single mb-75">
											<div class="small-tittle  h1-small-tittle">
												<span>24 Hours Services</span>
											</div>
											<div class="extra-caption mb-75">
												<h4>Available There</h4>
												<p>Lorem ipsum dolor sit amet, consecte-tur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
												<a href="#">Read More</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6">
										<div class="extra-single mb-50">
											<div class="small-tittle  h1-small-tittle">
												<span>24/7 Hours</span>
											</div>
											<div class="extra-caption h1-extra-caption mb-30">
												<h4>Open For You</h4>
												<ul>
													<li>Monday – Friday<span>8.00 – 17.00</span></li>
													<li>Saturday<span>9.30 – 17.30</span> </li>
													<li>Sunday <span>9.30 – 17.30</span></li>
												</ul>
												<a href="#">Get Appointment</a>
											</div>
										</div>
									</div>
								</div>
								<!-- services-help -->
								<div class="row">
									<div class="col-xl-7 ">
										<div class="help-thumb h1-help-thumb mb-30">
											<img src="img/services/thumb1.png" alt="">

											<a href="https://www.youtube.com/watch?v=3Rx8hUKsbV0" class="play-btn popup-video"><i class="fas fa-play"></i></a>
										</div>
									</div>
									<div class="col-xl-5 ">
										<div class="extra-single extra-single2">
											<div class="small-tittle  h1-small-tittle mb-30">
												<span>we are here.</span>
											</div>
											<div class="extra-caption extra-caption2">
												<h4>There's Some Proof<br > It May Help.</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laaboris nisi ut aliquip ex ea pa commodo consequat. Duis aute irure dolor in reprehen-derit in voluptate velit esse cillum.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- extra_services_end -->
			<!-- department_area_start -->
			<section class="department-area department-overly pt-195 pb-120" data-background="img/department_thumb/dep_thumb.png">
				<div class="container">
					<!-- section-tittle -->
					<div class="row d-flex align-items-center">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
							<div class="servies-tittle h2-tittle-color1 mb-80">
								<span>What we do</span>
								<h3>Departments</h3>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
							<div class="services-btn text-right mb-80">
								<a href="#" class="btn red-btn2">Learn more</a>
							</div>
						</div>
					</div>
					<!-- department_wrapper -->
					<div class="row">
						<div class="col-xl-12 mb-30">
							<ul class="nav nav-pills mb-65" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
										aria-controls="pills-home" aria-selected="true">
										<img src="img/department_thumb/dep_icon1.png" alt="">
										<img class="block-img" src="img/department_thumb/dep_icon1-hover.png" alt="">
										<h6>Surgery</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
										aria-controls="pills-profile" aria-selected="false">
										<img src="img/department_thumb/dep_icon2.png" alt="">
										<img class="block-img" src="img/department_thumb/dep_icon2-hover.png" alt="">
										<h6>dental</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
										aria-controls="pills-contact" aria-selected="false">
										<img src="img/department_thumb/dep_icon3.png" alt="">
										<img class="block-img" src="img/department_thumb/dep_icon3-hover.png" alt="">
										<h6>Eye care</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#a" role="tab"
										aria-controls="a" aria-selected="false">
										<img src="img/department_thumb/dep_icon4.png" alt="">
										<img class="block-img" src="img/department_thumb/dep_icon4-hover.png" alt="">
										<h6>cancer</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#b" role="tab"
										aria-controls="b" aria-selected="false">
										<img src="img/department_thumb/dep_icon5.png" alt="">
										<img class="block-img" src="img/department_thumb/dep_icon5-hover.png" alt="">
										<h6>nurology</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#c" role="tab"
										aria-controls="b" aria-selected="false">
										<img src="img/department_thumb/dep_icon6.png" alt="">
										<img class="block-img" src="img/department_thumb/dep_icon6-hover.png" alt="">
										<h6>ALLERGIC</h6>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12">
							<div class="tabs-content-wrapper">
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="img/department_thumb/dep_section.png" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-6">
													<div class="depertmet-img mb-30">
														<img src="img/department_thumb/dep_section.png" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-6">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="img/department_thumb/dep_section.png" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="a" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="img/department_thumb/dep_section.png" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="img/department_thumb/dep_section.png" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="img/department_thumb/dep_section.png" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</section>
			<!-- department_area_end -->
			<!-- modern_clinic_start -->
			<section class="modern-clinic pt-110 pb-50">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-lg-6">
							<div class="welcome-img mb-30">
								<img src="img/clinic/welcome_img.png" alt="">
							</div>
						</div>
						<div class="col-xl-6 col-lg-6">
							<div class="welcome-text mb-30">
								<!-- section-tittle -->
								<div class="servies-tittle servies-tittle2 h1-servies-tittle1">
									<span>Medical professinals</span>
									<h3>Welcome To Our<br>Modern Clinic.</h3>
								</div>
								<div class="clinic-caption h1-clinic-caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<ul>
										<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
										<li>Eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
										<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
									</ul>
									<a href="#" class="btn border-btn3">learn more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- modern_clinic_end -->
			<!-- subscribe_start -->
			<section class="subscribe-area red-overly pt-115 pb-120" data-background="img/subscribe/subscribe_bg2.png">
				<div class="container">
					<div class="row">
						<div class="offset-xl-2 col-xl-9">
							<div class="subscribe-caption text-center">
								<span>Subscribe to Newsletter</span>
								<h2>Get Every News &<br>Updates From There.</h2>
								<form action="#" class="subscribe-form h1-subscribe-form">
									<input type="text" placeholder="Enter your email address....">
									<a href="#"><i class="far fa-envelope"></i>Submit</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- subscribe_end -->
						<!-- contact_info_start -->
			<section class="contact-info pt-100 pb-60">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-phone"></i>
								</div>
								<div class="contact-content">
									<h4>Phone Number</h4>
									<ul>
										<li>+08798 878 6876</li>
										<li>+(898) 87976 97876</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="contact-content">
									<h4>Email Address</h4>
									<ul>
										<li>info@example.com</li>
										<li>example@webmail.com</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-map"></i>
								</div>
								<div class="contact-content">
									<h4>Email Address</h4>
									<ul>
										<li>3213 Suitland Street City</li>
										<li>Newyork, USA</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-globe"></i>
								</div>
								<div class="contact-content">
									<h4>Website</h4>
									<ul>
										<li>example.com</li>
										<li>careers.webmail.com</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- contact_info_end -->
		</main>
		<footer>
			<div class="footer-area black-bg pt-100 pb-25">
				<div class="container">
					<div class="row pb-border d-flex justify-content-between">
						<div class="col-xl-3 col-lg-5 col-md-5">
							<div class="footer-caption mb-60">
								<div class="footer-logo">
									<a href="index.html"><img src="img/logo/h1-footer-logo3.png" alt=""></a>
								</div>
								<p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua.</p>
								<form action="#" class="footer-form h1-footer-form">
									<input type="text" placeholder="Enter your email....">
									<a href="#"><i class="far fa-paper-plane"></i></a>
								</form>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-3">
							<div class="footer-caption mb-60">
								<h5>More Pages</h5>
								<ul>
									<li><a href="#">About us</a></li>
									<li><a href="#">Portfolio</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Popular</a></li>
									<li><a href="#">Products</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-3">
							<div class="footer-caption mb-60">
								<h5>Our Services</h5>
								<ul>
									<li><a href="#">Web Design</a></li>
									<li><a href="#">Graphic Design</a></li>
									<li><a href="#">SEO</a></li>
									<li><a href="#">Financial Planing</a></li>
									<li><a href="#">Market Research</a></li>
									<li><a href="#">Interior Design</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="feeds-wrapper mb-60">
								<div class="blog-feeds mb-20">
									<h5>Blog Feeds</h5>
									<div class="feeds-img ">
										<a href="news_details.html"><img src="img/footer/blog_feeds1.png" alt=""></a>
									</div>
									<div class="feeds-caption">
										<h4><a href="news_details.html">Lorem ipsum dolor sit am<br>et, consectetur.</a></h4>
										<p>14 July 2018</p>
									</div>
								</div>
								<div class="blog-feeds mb-20">
									<div class="feeds-img">
										<a href="news_details.html"><img src="img/footer/blog_feeds2.png" alt=""></a>
									</div>
									<div class="feeds-caption">
										<h4><a href="news_details.html">Lorem ipsum dolor sit am<br>et, consectetur.</a></h4>
										<p>14 July 2018</p>
									</div>
								</div>
								<div class="blog-feeds">
									<div class="feeds-img">
										<a href="news_details.html"><img src="img/footer/blog_feeds3.png" alt=""></a>
									</div>
									<div class="feeds-caption">
										<h4><a href="news_details.html">Lorem ipsum dolor sit am<br>et, consectetur.</a></h4>
										<p>14 July 2018</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- copy_right -->
					<div class="row">
						<div class="col-12">
							<div class="copy-right pt-30">
								<p>Copyright By@Example - 2019</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
		<script src="js/vendor/modernizr-3.5.0.min.js"></script>

		<!-- Jquery, Popper, Bootstrap -->
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<!-- Jquery Mobile Menu -->
		<script src="js/jquery.meanmenu.min.js"></script>
		<!-- Jquery Owl-Carousel Plugins -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Jquery Slick-Carousel Plugins -->
		<script src="js/slick.min.js"></script>

		<!-- One Page -->
		<script src="js/one-page-nav-min.js"></script>
		<!-- Magnific-poppup img and video -->
		<script src="js/jquery.magnific-popup.min.js"></script>

		<!-- One Page, Animated-HeadLin -->
		<script src="js/wow.min.js"></script>

		<!-- Scrollup, nice-select -->
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/jquery.nice-select.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
    </body>
</html>
