	{% load static %}
	<footer>

			<div class="footer-area black-bg pt-100 pb-25">
				<div class="container">
					<div class="row pb-border d-flex justify-content-between">
						<div class="col-xl-3 col-lg-5 col-md-5">
							<div class="footer-caption mb-60">
								<div class="footer-logo">
									<a href="index.html"><img src="{% static 'front/img/logo/h1-footer-logo3.png'%}" alt=""></a>
								</div>
								<p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua.</p>
								<form action="#" class="footer-form h1-footer-form">
									<input type="text" placeholder="Enter your email....">
									<a href="#"><i class="far fa-paper-plane"></i></a>
								</form>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-3">
							<div class="footer-caption mb-60">
								<h5>More Pages</h5>
								<ul>
									<li><a href="#">About us</a></li>
									<li><a href="#">Portfolio</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Popular</a></li>
									<li><a href="#">Products</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-lg-3 col-md-3">
							<div class="footer-caption mb-60">
								<h5>Our Services</h5>
								<ul>
									<li><a href="#">Web Design</a></li>
									<li><a href="#">Graphic Design</a></li>
									<li><a href="#">SEO</a></li>
									<li><a href="#">Financial Planing</a></li>
									<li><a href="#">Market Research</a></li>
									<li><a href="#">Interior Design</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="feeds-wrapper mb-60">
								<div class="blog-feeds mb-20">
									<h5>Blog Feeds</h5>
									<div class="feeds-img ">
										<a href="news_details.html"><img src="{% static 'front/img/footer/blog_feeds1.png'%}" alt=""></a>
									</div>
									<div class="feeds-caption">
										<h4><a href="news_details.html">Lorem ipsum dolor sit am<br>et, consectetur.</a></h4>
										<p>14 July 2018</p>
									</div>
								</div>
								<div class="blog-feeds mb-20">
									<div class="feeds-img">
										<a href="news_details.html"><img src="{% static 'front/img/footer/blog_feeds2.png'%}" alt=""></a>
									</div>
									<div class="feeds-caption">
										<h4><a href="news_details.html">Lorem ipsum dolor sit am<br>et, consectetur.</a></h4>
										<p>14 July 2018</p>
									</div>
								</div>
								<div class="blog-feeds">
									<div class="feeds-img">
										<a href="news_details.html"><img src="{% static 'front/img/footer/blog_feeds3.png'%}" alt=""></a>
									</div>
									<div class="feeds-caption">
										<h4><a href="news_details.html">Lorem ipsum dolor sit am<br>et, consectetur.</a></h4>
										<p>14 July 2018</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- copy_right -->
					<div class="row">
						<div class="col-12">
							<div class="copy-right pt-30">
								<p>Copyright By@Example - 2019</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'front/js/vendor/modernizr-3.5.0.min.js'%}"></script>

		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'front/js/vendor/jquery-1.12.4.min.js'%}"></script>
        <script src="{% static 'front/js/popper.min.js'%}"></script>
        <script src="{% static 'front/js/bootstrap.min.js'%}"></script>

		<!-- Jquery Mobile Menu -->
        <script src="{% static 'front/js/jquery.meanmenu.min.js'%}"></script>
		<!-- Jquery Owl-Carousel Plugins -->
        <script src="{% static 'front/js/owl.carousel.min.js'%}"></script>
		<!-- Jquery Slick-Carousel Plugins -->
        <script src="{% static 'front/js/slick.min.js'%}"></script>

		<!-- One Page -->
        <script src="{% static 'front/js/one-page-nav-min.js'%}"></script>
		<!-- Magnific-poppup img and video -->
		<script src="{% static 'front/js/jquery.magnific-popup.min.js'%}"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'front/js/wow.min.js'%}"></script>

		<!-- Scrollup, nice-select -->
        <script src="{% static 'front/js/jquery.scrollUp.min.js'%}"></script>
        <script src="{% static 'front/js/jquery.nice-select.min.js'%}"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="{% static 'front/js/plugins.js'%}"></script>
        <script src="{% static 'front/js/main.js'%}"></script>
    </body>
</html>