{% extends './base.html' %}
{% load static %}
{% block content %}


		<main>
			<img class="secondary-img" src="{% static 'front/img/hero_thumb/left-white.png'%}" alt=""></button>
			<!-- hero_start -->
			<section class="hero-area">
				<div class="h1-hero-active">
					<div class="single-slider single-hero h1-hero-bg pt-160 pb-200" data-background="{% static 'front/img/hero_thumb/h1-hero.png'%}">
						<div class="container-fluid">
							<div class="row d-flex align-items-center">
								<div class="col-xl-7 col-lg-8 col-md-9">
									<div class="h1-caption-wrap">
										<div class="hero-caption h1-hero-caption">
											<h1 data-animation="fadeInUp" data-delay=".4s"><span>Take Care Of</span><br>Your Health</h1>
											<p data-animation="fadeInUp" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid- idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci- tation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										</div>
										<div class="hero-btn">
											<a data-animation="fadeInLeft" data-delay=".8s" href="#" class="btn blue-btn Cadet-blue">Get Appointment</a>
											<a data-animation="fadeInRight" data-delay="1.0s" href="#" class="btn border-btn h1-border-btn">learn more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="single-slider single-hero h1-hero-bg pt-160 pb-200" data-background="{% static 'front/img/hero_thumb/h1-hero.png'%}">
						<div class="container-fluid">
							<div class="row d-flex align-items-center">
								<div class="col-xl-7 col-lg-8 col-md-9">
									<div class="h1-caption-wrap">
										<div class="hero-caption h1-hero-caption">
											<h1 data-animation="fadeInUp" data-delay=".4s"><span>Take Care Of</span><br>Your Health</h1>
											<p data-animation="fadeInUp" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
												sed do eiusmod tempor incid- idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
												nostrud exerci- tation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										</div>
										<div class="hero-btn">
											<a data-animation="fadeInLeft" data-delay=".4s" href="#" class="btn blue-btn Cadet-blue">Get
												Appointment</a>
											<a data-animation="fadeInRight" data-delay=".4s" href="#" class="btn border-btn h1-border-btn">learn
												more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- hero_end -->
			<!-- services_area_start -->
			<section class="services-wrapper pt-120 pb-70">
				<div class="container">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-4">
							<div class="single-services h1-single-services text-center mb-50">
								<div class="services-logo">
									<span class="services__icon h1-services__icon">
										<img src="{% static 'front/img/services/h1-services1.png'%}" alt="">
										<i class="fas fa-check"></i>
									</span>
								</div>
								<div class=" h1-services-caption services-caption">
									<h3><a href="services-details.html">Make Appointment</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								</div>
								<div class="services-next h1-services-next">
									<a href="services-details.html">
										<i class="fas fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg- col-md-4">
							<div class="single-services h1-single-services text-center mb-50">
								<div class="services-logo">
									<span class="services__icon h1-services__icon">
										<img src="{% static 'front/img/services/h1-services2.png'%}" alt="">
										<i class="fas fa-check"></i>
									</span>
								</div>
								<div class=" h1-services-caption services-caption">
									<h3><a href="services-details.html">Get Consultant</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								</div>
								<div class="services-next h1-services-next">
									<a href="services-details.html">
										<i class="fas fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-4 col-md-4">
							<div class="single-services h1-single-services text-center mb-50">
								<div class="services-logo">
									<span class="services__icon h1-services__icon">
										<img src="{% static 'front/img/services/h1-services3.png'%}" alt="">
										<i class="fas fa-check"></i>
									</span>
								</div>
								<div class=" h1-services-caption services-caption">
									<h3><a href="services-details.html">Get Cure & Happiness</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								</div>
								<div class="services-next h1-services-next">
									<a href="services-details.html">
										<i class="fas fa-arrow-right"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- services_area_end -->
			<!-- extra_services_start -->
			<section class="extra-services">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="extra-services-wrapper extra-bg">
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-6">
										<div class="extra-single mb-75">
											<div class="small-tittle h1-small-tittle">
												<span>Top Doctors</span>
											</div>
											<div class="extra-caption mb-30">
												<h4>Are Available</h4>
												<p>Lorem ipsum dolor sit amet, consecte-tur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
												<a href="#">Read More</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6">
										<div class="extra-single mb-75">
											<div class="small-tittle  h1-small-tittle">
												<span>24 Hours Services</span>
											</div>
											<div class="extra-caption mb-75">
												<h4>Available There</h4>
												<p>Lorem ipsum dolor sit amet, consecte-tur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
												<a href="#">Read More</a>
											</div>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6">
										<div class="extra-single mb-50">
											<div class="small-tittle  h1-small-tittle">
												<span>24/7 Hours</span>
											</div>
											<div class="extra-caption h1-extra-caption mb-30">
												<h4>Open For You</h4>
												<ul>
													<li>Monday – Friday<span>8.00 – 17.00</span></li>
													<li>Saturday<span>9.30 – 17.30</span> </li>
													<li>Sunday <span>9.30 – 17.30</span></li>
												</ul>
												<a href="#">Get Appointment</a>
											</div>
										</div>
									</div>
								</div>
								<!-- services-help -->
								<div class="row">
									<div class="col-xl-7 ">
										<div class="help-thumb h1-help-thumb mb-30">
											<img src="{% static 'front/img/services/thumb1.png'%}" alt="">

											<a href="https://www.youtube.com/watch?v=3Rx8hUKsbV0" class="play-btn popup-video"><i class="fas fa-play"></i></a>
										</div>
									</div>
									<div class="col-xl-5 ">
										<div class="extra-single extra-single2">
											<div class="small-tittle  h1-small-tittle mb-30">
												<span>we are here.</span>
											</div>
											<div class="extra-caption extra-caption2">
												<h4>There's Some Proof<br > It May Help.</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laaboris nisi ut aliquip ex ea pa commodo consequat. Duis aute irure dolor in reprehen-derit in voluptate velit esse cillum.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- extra_services_end -->
			<!-- department_area_start -->
			<section class="department-area department-overly pt-195 pb-120" data-background="{% static 'front/img/department_thumb/dep_thumb.png'%}">
				<div class="container">
					<!-- section-tittle -->
					<div class="row d-flex align-items-center">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
							<div class="servies-tittle h2-tittle-color1 mb-80">
								<span>What we do</span>
								<h3>Departments</h3>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
							<div class="services-btn text-right mb-80">
								<a href="#" class="btn red-btn2">Learn more</a>
							</div>
						</div>
					</div>
					<!-- department_wrapper -->
					<div class="row">
						<div class="col-xl-12 mb-30">
							<ul class="nav nav-pills mb-65" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
										aria-controls="pills-home" aria-selected="true">
										<img src="{% static 'front/img/department_thumb/dep_icon1.png'%}" alt="">
										<img class="block-img" src="{% static 'front/img/department_thumb/dep_icon1-hover.png'%}" alt="">
										<h6>Surgery</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
										aria-controls="pills-profile" aria-selected="false">
										<img src="{% static 'front/img/department_thumb/dep_icon2.png'%}" alt="">
										<img class="block-img" src="{% static 'front/img/department_thumb/dep_icon2-hover.png'%}" alt="">
										<h6>dental</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
										aria-controls="pills-contact" aria-selected="false">
										<img src="{% static 'front/img/department_thumb/dep_icon3.png'%}" alt="">
										<img class="block-img" src="{% static 'front/img/department_thumb/dep_icon3-hover.png'%}" alt="">
										<h6>Eye care</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#a" role="tab"
										aria-controls="a" aria-selected="false">
										<img src="{% static 'front/img/department_thumb/dep_icon4.png'%}" alt="">
										<img class="block-img" src="{% static 'front/img/department_thumb/dep_icon4-hover.png'%}" alt="">
										<h6>cancer</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#b" role="tab"
										aria-controls="b" aria-selected="false">
										<img src="{% static 'front/img/department_thumb/dep_icon5.png'%}" alt="">
										<img class="block-img" src="{% static 'front/img/department_thumb/dep_icon5-hover.png'%}" alt="">
										<h6>nurology</h6>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#c" role="tab"
										aria-controls="b" aria-selected="false">
										<img src="{% static 'front/img/department_thumb/dep_icon6.png'%}" alt="">
										<img class="block-img" src="{% static 'front/img/department_thumb/dep_icon6-hover.png'%}" alt="">
										<h6>ALLERGIC</h6>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12">
							<div class="tabs-content-wrapper">
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="{% static 'front/img/department_thumb/dep_section.png'%}" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-6">
													<div class="depertmet-img mb-30">
														<img src="{% static 'front/img/department_thumb/dep_section.png'%}" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-6">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="{% static 'front/img/department_thumb/dep_section.png'%}" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="a" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="{% static 'front/img/department_thumb/dep_section.png'%}" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="{% static 'front/img/department_thumb/dep_section.png'%}" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="pills-contact-tab">
											<div class="row">
												<div class="col-xl-6 col-lg-4">
													<div class="depertmet-img mb-30">
														<img src="{% static 'front/img/department_thumb/dep_section.png'%}" alt="">
													</div>
												</div>
												<div class="col-xl-6 col-lg-8">
													<div class="section-title mb-40">
														<div class="depertmet-tittle">
															<h5>24/7 available</h5>
															<h1>Dentist with surgical mask holding scaler near patient</h1>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Dolor sit amet,  consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														</div>
														<a href="#" class="btn red-btn3">Get Appointment</a>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</section>
			<!-- department_area_end -->
			<!-- modern_clinic_start -->
			<section class="modern-clinic pt-110 pb-50">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-lg-6">
							<div class="welcome-img mb-30">
								<img src="{% static 'front/img/clinic/welcome_img.png'%}" alt="">
							</div>
						</div>
						<div class="col-xl-6 col-lg-6">
							<div class="welcome-text mb-30">
								<!-- section-tittle -->
								<div class="servies-tittle servies-tittle2 h1-servies-tittle1">
									<span>Medical professinals</span>
									<h3>Welcome To Our<br>Modern Clinic.</h3>
								</div>
								<div class="clinic-caption h1-clinic-caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
									<ul>
										<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</li>
										<li>Eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
										<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</li>
									</ul>
									<a href="#" class="btn border-btn3">learn more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- modern_clinic_end -->
			<!-- team_start -->
			<section class="team-area gray-bg pt-115 pb-160">
				<div class="container">
					<!-- section-tittle -->
					<div class="row d-flex align-items-center">
						<div class="col-xl-6 col-lg-6 col-md-6">
							<div class="servies-tittle servies-tittle3 h1-text-color mb-80">
								<span>angels</span>
								<h3>Our Team</h3>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-block">
							<div class="services-btn mb-80 text-right">
								<a href="#" class="btn Cadet-blue">join with us</a>
							</div>
						</div>
					</div>
					<!-- team-wrapper -->
					<div class="c-row h2-team-active dot-style">
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="single-team white-bg mb-30">
								<div class="team-img team-img2">
									<img src="{% static 'front/img/team1/team1.png'%}" alt="">
									<!-- team-social -->
									<div class="team-socials">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-behance"></i></a>
										<a href="#"><i class="fab fa-linkedin-in"></i></a>
										<a href="#"><i class="fab fa-pinterest"></i></a>
									</div>
								</div>
								<div class="team-caption h1-text-color">
									<span>Founder</span>
									<h3><a href="#" class="border-btm">Alonso D. Williamson</a></h3>
									<p class="para border-btm">Lorem ipsum dolor sit amet, consec- tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
									<div class="team-contact">
										<ul>
											<li><i class="fas fa-envelope"></i> info@example.com</li>
											<li><i class="fas fa-phone"></i> +0908 6886 8669</li>
											<li><i class="fas fa-map"></i> Newyork, Wanakanda</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="single-team white-bg mb-30">
								<div class="team-img team-img2">
									<img src="{% static 'front/img/team1/team2.png'%}" alt="">
									<!-- team-social -->
									<div class="team-socials">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-behance"></i></a>
										<a href="#"><i class="fab fa-linkedin-in"></i></a>
										<a href="#"><i class="fab fa-pinterest"></i></a>
									</div>
								</div>
								<div class="team-caption h1-text-color">
									<span>ceo & consultant</span>
									<h3><a href="#" class="border-btm">Kelian. B. Keiliamson</a></h3>
									<p class="para border-btm">Lorem ipsum dolor sit amet, consec- tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
									<div class="team-contact">
										<ul>
											<li><i class="fas fa-envelope"></i> info@example.com</li>
											<li><i class="fas fa-phone"></i> +0908 6886 8669</li>
											<li><i class="fas fa-map"></i> Newyork, Wanakanda</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="single-team white-bg mb-30">
								<div class="team-img team-img2">
									<img src="{% static 'front/img/team1/team3.png'%}" alt="">
									<!-- team-social -->
									<div class="team-socials">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-behance"></i></a>
										<a href="#"><i class="fab fa-linkedin-in"></i></a>
										<a href="#"><i class="fab fa-pinterest"></i></a>
									</div>
								</div>
								<div class="team-caption h1-text-color">
									<span>consultant</span>
									<h3><a href="#" class="border-btm">Arista Z. Prozen</a></h3>
									<p class="para border-btm">Lorem ipsum dolor sit amet, consec- tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
									<div class="team-contact">
										<ul>
											<li><i class="fas fa-envelope"></i> info@example.com</li>
											<li><i class="fas fa-phone"></i> +0908 6886 8669</li>
											<li><i class="fas fa-map"></i> Newyork, Wanakanda</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="single-team white-bg mb-30">
								<div class="team-img team-img2">
									<img src="{% static 'front/img/team1/team3.png'%}" alt="">
									<!-- team-social -->
									<div class="team-socials">
										<a href="#"><i class="fab fa-facebook-f"></i></a>
										<a href="#"><i class="fab fa-twitter"></i></a>
										<a href="#"><i class="fab fa-behance"></i></a>
										<a href="#"><i class="fab fa-linkedin-in"></i></a>
										<a href="#"><i class="fab fa-pinterest"></i></a>
									</div>
								</div>
								<div class="team-caption h1-text-color">
									<span>consultant</span>
									<h3><a href="#" class="border-btm">Arista Z. Prozen</a></h3>
									<p class="para border-btm">Lorem ipsum dolor sit amet, consec- tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
									<div class="team-contact">
										<ul>
											<li><i class="fas fa-envelope"></i> info@example.com</li>
											<li><i class="fas fa-phone"></i> +0908 6886 8669</li>
											<li><i class="fas fa-map"></i> Newyork, Wanakanda</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- team_end -->
			<!-- prescription_form_start -->
			<section class="prescription-area prescription-bg  pt-115 pb-120" data-background="{% static 'front/img/prescription_form_img/h1-prescription3.png'%}">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-7">
							<!-- section-tittle -->
							<div class="servies-tittle servies-tittle2 servies-tittle4 h1-servies-tittle1">
								<span>Book an Appointment</span>
								<h3>How do I get a refill<br>on my prescription?</h3>
							</div>
						</div>
					</div>
					<!-- prescription_form -->
					<div class="row">
						<div class="col-xl-6">
							<div class="prescription-form white-bg">
								<div class="row">
									<div class="col-xl-6 col-lg-6 col-md-6">
										<form action="#">
											<div class="select-itms">
												<select name="select" id="select1">
													<option value="">Departments</option>
													<option value="">Cardiologists</option>
													<option value="">Emergency Medicine</option>
													<option value="">Family Physicians</option>
													<option value="">Medicine Specialists</option>
												</select>
											</div>
										</form>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6">
										<form action="#">
											<div class="select-itms">
												<select name="select" id="select2">
													<option value="">Doctors</option>
													<option value="">Dr. Saiful islam</option>
													<option value="">Dr. SB. Mehadi </option>
													<option value=""> Prof. Dr. Salim</option>
													<option value=""> Prof Dr. Md. Sirajul</option>
												</select>
											</div>
										</form>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6">
										<form action="#">
											<input type="text" placeholder="Your name">
											<i class="fas fa-user"></i>
										</form>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6">
										<form action="#">
											<input type="text" placeholder="Phone number">
											<i class="fas fa-phone"></i>
										</form>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6">
										<form action="#">
											<input type="text" placeholder="Email Address">
											<i class="fas fa-envelope"></i>
										</form>
									</div>
									<div class="col-xl-6 col-lg-6 col-md-6">
										<form action="#">
											<div class="select-itms">
												<select name="select" id="select3">
													<option value="">Select Date</option>
													<option value="">Date - 1-2-2021</option>
													<option value="">Date - 5-12-2028</option>
													<option value="">Date - 8-4-2030</option>
													<option value="">Date - 2-6-2050</option>
												</select>
											</div>

										</form>
									</div>
									<div class="col-xl-12">
										<div class="prescrip-btn text-center pt-10">
											<a href="#" class="btn red-btn4 text-center">Get Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- prescription_form_end -->
			<!-- solutions_form_start -->
			<section class="solutions-area solutions-bg pt-115 pb-120" data-background="{% static 'front/img/prescription_form_img/h1-solution2.png'%}">
				<div class="container-fluid">
					<div class="offset-xl-6 col-xl-6">
						<!-- section-tittle -->
						<div class="servies-tittle servies-tittle2 servies-tittle4 h1-servies-tittle1">
							<span>faq</span>
							<h3>Get Every Solutions<br>From There.</h3>
						</div>
						<!-- Collaps-wrapper -->
						<div class="solutions-wrapper">
							<div class="accordion" id="accordionExample">
								<!-- single-one -->
								<div class="card">
									<div class="card-header" id="headingTwo">
									<h2 class="mb-0">
										<a href="#" class="btn-link collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
										</a>
									</h2>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
									</div>
									</div>
								</div>
								<!-- single-two -->
								<div class="card">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0">
										<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
										</a>
										</h2>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
										</div>
									</div>
								</div>
								<!-- single-three -->
								<div class="card">
									<div class="card-header" id="headingThree">
									<h2 class="mb-0">
										<a href="#" class="btn-link collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?</a>
									</h2>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.									</div>
									</div>
								</div>
								<!-- single-four -->
								<div class="card">
									<div class="card-header" id="headingfouree">
									<h2 class="mb-0">
										<a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
										</a>
									</h2>
									</div>
									<div id="collapseFoure" class="collapse" aria-labelledby="headingfouree" data-parent="#accordionExample">
									<div class="card-body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
									</div>
									</div>
								</div>
								<!-- single-five -->
								<div class="card">
									<div class="card-header" id="headingFive">
									<h2 class="mb-0">
										<a href="#" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor?
										</a>
									</h2>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
									<div class="card-body">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- solutions_form_end -->
			<!-- subscribe_start -->
			<section  class="subscribe-area red-overly pt-115 pb-120" data-background="{% static 'front/img/subscribe/subscribe_bg2.png'%}">
				<div class="container">
					<div class="row">
						<div class="offset-xl-2 col-xl-9">
							<div class="subscribe-caption text-center">
								<span>Subscribe to Newsletter</span>
								<h2>Get Every News &<br>Updates From There.</h2>
								<form action="#" class="subscribe-form h1-subscribe-form">
									<input type="text" placeholder="Enter your email address....">
									<a href="#"><i class="far fa-envelope"></i>Submit</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- subscribe_end -->
			<!-- blog_start -->
			<section class="blog-area pt-120 pb-95">
				<div class="container">
					<!-- section-tittle -->
					<div class="row d-flex align-items-center">
						<div class="col-xl-6 col-lg-6">
							<div class="servies-tittle servies-tittle3 h1-text-color mb-80">
								<span>blog</span>
								<h3>News Feeds</h3>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6">
							<div class="services-btn mb-80 text-right">
								<a href="#" class="btn Cadet-blue">Our Blog</a>
							</div>
						</div>
					</div>
					<!-- blog -->
					<div class="row">
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="single-blog mb-30">
								<div class="blog-img">
									<a href="news_details.html"><img src="{% static 'front/img/blog/blog1.png'%}" alt=""></a>
								</div>
								<div class="blog-caption">
									<ul>
										<li><i class="far fa-clock"></i> 23 Hours Ago</li>
										<li><a href="#"><i class="far fa-user"></i> by Limonda D. Likaoli</a></li>
									</ul>
									<h4 class="f-600 black-color"><a href="news_details.html">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit.</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="single-blog mb-30">
								<div class="blog-img">
									<a href="news_details.html"><img src="{% static 'front/img/blog/blog2.png'%}" alt=""></a>
								</div>
								<div class="blog-caption">
									<ul>
										<li><i class="far fa-clock"></i> 23 Hours Ago</li>
										<li><a href="#"><i class="far fa-user"></i> by Limonda D. Likaoli</a></li>
									</ul>
									<h4 class="f-600 black-color"><a href="news_details.html">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit.</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-6">
							<div class="single-blog single-blog3 mb-30">
								<div class="blog-img h1-blog-img3">
									<a href="news_details.html"><img src="{% static 'front/img/blog/blog3.png'%}" alt=""></a>
								</div>
								<div class="blog-caption blog-caption3">
									<ul>
										<li><a href="#"><i class="far fa-user"></i> by Limonda D. Likaoli</a></li>
									</ul>
									<h4 class="f-600 black-color"><a href="news_details.html">Lorem ipsum dolor sit am ectetur adipisicing elit.</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua kelian bappe. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- blog_end -->
			<!-- Testimonials_start -->
			<section class="testimonials-area testimonials-overly pt-105 pb-95  position-relative" data-background="{% static 'front/img/testimonial/h1-testimonial.png'%}">
				<div class="container">
					<div class="row">
						<!-- section-tittle -->
						<div class="col-xl-12">
							<div class="testimonials-inner text-center pb-65">
								<div class="h1-testimonal-title">
									<span>Testimonials</span>
									<h3>Our Patients Says</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- Testimonials -->
					<div class="row">
						<div class="col-xl-12 ">
							<div class="testmonial-active text-center">
								<!-- testimonial-single-items -->
								<div class="testmonial-item testmonial-top">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br> aliquip ex ea commodo consequat uis aute irure dolor.</p>
								</div>
								<!-- testimonial-single-items -->
								<div class="testmonial-item testmonial-top">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br> aliquip ex ea commodo consequat uis aute irure dolor.</p>
								</div>
								<!-- testimonial-single-items -->
								<div class="testmonial-item testmonial-top">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut<br> aliquip ex ea commodo consequat uis aute irure dolor.</p>
								</div>
							</div>
							<!-- testmonial-image -->
							<div class="testmonial-nav text-center">
								<div class="testmonial-thumb">
									<img src="{% static 'front/img/testimonial/Patients1.png'%}" alt="">
								</div>
								<div class="testmonial-thumb">
									<img src="{% static 'front/img/testimonial/Patients2.png'%}" alt="">
								</div>
								<div class="testmonial-thumb">
									<img src="{% static 'front/img/testimonial/Patients3.png'%}" alt="">
								</div>
								<div class="testmonial-thumb">
									<img src="{% static 'front/img/testimonial/Patients2.png'%}" alt="">
								</div>
							</div>
							<!-- img-contents -->
							<div class="testmonial-active text-center pt-20">
								<div class="testmonial-item testmonial-bottom">
									<span>Rosalina Ponlin</span>
									<p>founder, uihub</p>
								</div>
								<div class="testmonial-item testmonial-bottom">
									<span>Rosalina Ponlin</span>
									<p>founder, uihub</p>
								</div>
								<div class="testmonial-item testmonial-bottom">
									<span>Rosalina Ponlin</span>
									<p>founder, uihub</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Testimonials_end -->
			<!-- brand_start -->
			<div class="brand-area-wrapper">
				<div class="container-fluid">
					<div class="brand-active ">
						<div class="single-brand">
							<a href="#"> <img src="{% static 'front/img/brand/brand1.png'%}" alt=""></a>
						</div>
						<div class="single-brand">
							<a href="#"> <img src="{% static 'front/img/brand/brand2.png'%}" alt=""></a>
						</div>
						<div class="single-brand">
							<a href="#"> <img src="{% static 'front/img/brand/brand3.png'%}" alt=""></a>
						</div>
						<div class="single-brand">
							<a href="#"> <img src="{% static 'front/img/brand/brand4.png'%}" alt=""></a>
						</div>
						<div class="single-brand">
							<a href="#"> <img src="{% static 'front/img/brand/brand5.png'%}" alt=""></a>
						</div>
						<div class="single-brand">
							<a href="#"> <img src="{% static 'front/img/brand/brand3.png'%}" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<!-- brand_end -->
			<!-- contact_info_start -->
			<section class="contact-info pt-100 pb-60">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-phone"></i>
								</div>
								<div class="contact-content">
									<h4>Phone Number</h4>
									<ul>
										<li>+08798 878 6876</li>
										<li>+(898) 87976 97876</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="contact-content">
									<h4>Email Address</h4>
									<ul>
										<li>info@example.com</li>
										<li>example@webmail.com</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-map"></i>
								</div>
								<div class="contact-content">
									<h4>Email Address</h4>
									<ul>
										<li>3213 Suitland Street City</li>
										<li>Newyork, USA</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 col-md-4">
							<div class="contact-caption mb-30">
								<div class="contact-ico h1-contact-ico">
									<i class="fas fa-globe"></i>
								</div>
								<div class="contact-content">
									<h4>Website</h4>
									<ul>
										<li>example.com</li>
										<li>careers.webmail.com</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- contact_info_end -->
		</main>
{% endblock content %}
