{% extends 'accounts/accountsBase.html' %} 
{% load static %}
{% block custom_css %}
{% endblock custom_css %}
     {% block title %}Forgot Password{% endblock title %}
{% block content %}
  <div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
        <div class="w-100 p-3 p-md-5 card border-0 bg-dark text-light" style="max-width: 32rem;">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'dologin' %}">Return to login page</a></p>
	</div>
  </div>
    </div>


{% endblock content %}