{% extends 'patient/base.html' %}
{% load static %}
{% block title %} :: I-Health::  Pharmacy Appointment{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block content %}
{% comment %} {% if booking.status == "accepted" %}
  <h6>Your booking is accepted </h6>
{% endif %}
{% if booking.status == "rejected" %}
  <h6>Your booking is rejected </h6>
{% endif %}
{% if booking.status == "taken" %}
  <h6>Your booking is competed </h6>
{% endif %}
{% if booking.status == "" %}
{% endif %} {% endcomment %}
<div>
<span id="status"></span>
  <h1><strong> Your Appointment has been booked for medicine </strong></h1><br>
  <h3>You will be notify Once Amount is upload by Store Owner </h3>

</div>

{% endblock content %}


{% block modal_fade %}
{% endblock modal_fade %}

{% block custom_js %}
<script>
var delay = 5000;
setTimeout(function(){ window.location = "{% url 'patient_home' %}"; }, delay);
</script>


{% endblock custom_js %}