{% extends 'patient/base.html' %}
{% load static %}
{% block title %} :: I-Health:: Appointment List {% endblock title %}

{% block custom_css %}
{% endblock custom_css %}


{% block content %}
 <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0 py-3 pb-2">Invoices</h3>
                             <div class="col-auto py-2 w-sm-100">
                                <ul class="nav nav-tabs tab-body-header rounded invoice-set" role="tablist">
                                   <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#Invoice-Hospital" role="tab">Hospital</a></li> 
                                     <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Invoice-Laboratory" role="tab">Laboratory</a></li>
                                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Invoice-Pharmacy" role="tab">Pharmacy</a></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->

                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="Invoice-Hospital">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12">
                                    {% for book in booked %}
                                        <div class="card mb-3">
                                            <div class="card-body d-sm-flex justify-content-between">
                                                <a href="{% url 'booking_confirmation' book.id %}" class="d-flex">
                                                    <img class="avatar rounded-circle" src="{{book.hospitalstaffdoctor.hospital.profile_pic}}" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <h6 class="d-flex justify-content-between mb-0"><span class="hospitaldoctor">Dr.{{book.hospitalstaffdoctor}}</span></h6>
                                                        <span class="text-muted hospital">{{book.hospitalstaffdoctor.hospital}}</span><br>
                                                        {% if book.for_whom %} For :- <span class="text hospital">{{book.for_whom}}</span></br>{% endif %}
                                                       Booking ID :- <span class="text hospital">B-{{book.id}}</span><br>
                                                       Service : <span class="badge bg-secondary">{{book.service.service_name}}</span>
                                                    </div>
                                                </a>
                                                
                                                <div class="text-end d-none d-md-block">
                                                    <p class="mb-1"><i class="icofont-location-pin ps-1"></i><span class="hospitaladdress"> {{book.hospitalstaffdoctor.hospital.address1}}{{book.hospitalstaffdoctor.hospital.address2}}{{book.hospitalstaffdoctor.hospital.city}}{{book.hospitalstaffdoctor.hospital.pin_code}}{{book.hospitalstaffdoctor.hospital.state}}</span></p>
                                                   
                                                    <i class="icofont-ui-calendar ps-1"></i> <span class="badge rounded-pill bg-info applieddatetime">{{book.applied_date}} {{book.applied_time}}</span><br>
                                                    <span class="text-muted"><i class="icofont-money ps-1"></i>&#x20B9;<span class="hospitalamount">{{book.service.service_charge}}</span></span>
                                                </div>
                                            </div>
                                            <div class="card-footer justify-content-between d-flex align-items-center">
                                                <div class="d-none d-md-block">
                                                {% if book.is_cancelled %}
                                                     <h6><span class="badge bg-danger">Cancelled</span>
                                                    </h6> 
                                                {% else %}
                                                   
                                                    {% if book.status == "accepted" %}
                                                        <h6><span class="badge bg-primary">Accepted Your Appointment on:</span> 
                                                        <span>{{book.accepted_date}}</span></h6>
                                                    {% elif book.status == "rejected" %}
                                                    <h6><span class="badge bg-danger">Rejected on:</span></h3>
                                                        <span>{{book.rejected_date}}</span></h6>
                                                    {% elif book.status == "taken" %}
                                                        <h6><span class="badge bg-success">Treatment on:</span>
                                                        <span>{{book.taken_date}}</span></h6>                                
                                                    {% else %}
                                                        <h6><span class="badge bg-warning">Applied on (Pending):</span></strong>
                                                        <span>{{book.created_at}}</span></h6>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                                <div class="card-hover-show">
                                                {% if book.is_cancelled == False%}
                                                    <a class="btn btn-sm btn-white border lift" href="#" download><i class="icofont-download text-primary"></i> Invoice</a>
                                                    <a class="btn btn-sm btn-white border lift" href="#">Send</a>
                                                    
                                                    {% if book.status == "accepted" or  book.status == "" %}
                                                    <a class="btn btn-sm btn-white border lift" href="{% url 'cancelbookedanappointment' book.id %}">Cancel</a>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}  
                                        <div class="loading" style="display: none;">
                                        Loading...
                                        </div>

                                        {% if page_obj.has_next %}
                                        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
                                        {% endif %} 
                                    </div>
                                </div>  <!-- Row end  -->
                            </div>
                            <div class="tab-pane fade" id="Invoice-Laboratory">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12">
                                    {% for labbooks in booking_labtest_list %}
                                        <div class="card mb-3">
                                            <div class="card-body d-sm-flex justify-content-between">
                                                <a href="{% url 'lab_confirmation' labbooks.labbook.id %}" class="d-flex">
                                                    <img class="avatar rounded-circle" src="{{labbooks.labbook.lab.profile_pic}}" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <h6 class="d-flex justify-content-between mb-0"><span>{{labbooks.labbook.lab}}</span></h6>
                                                        <span class="text-muted">{{labbooks.labbook.lab}}</span><br>
                                                        {% if labbooks.labbook.for_whom %} For :- <span class="text hospital">{{labbooks.labbook.for_whom}}</span><br>{% endif %}
                                                        Booking ID :- <span class="text hospital">L-{{labbooks.labbook.id}}</span><br>
                                                        Services :- {% for labtest in labbooks.labtests %}
                                                      <span class="badge bg-secondary">{{labtest.service.service_name}}</span>{% endfor %}
                                                    </div>
                                                </a>
                                                
                                                <div class="text-end d-none d-md-block">
                                                    <p class="mb-1"><i class="icofont-location-pin ps-1"></i> {{labbooks.labbook.lab.address}}{{labbooks.labbook.lab.address.city}}{{labbooks.labbook.lab.address.pin_code}}{{labbooks.labbook.lab.address.state}}</p>
                                                   
                                                    <i class="icofont-ui-calendar ps-1"></i> <span class="badge rounded-pill bg-info">{{labbooks.labbook.applied_date}} {{labbooks.labbook.applied_time}}</span><br>
                                                    <span class="text-muted"><i class="icofont-money ps-1"></i>&#x20B9;{{labbooks.labbook.amount}}</span>
                                                </div>
                                            </div>
                                            <div class="card-footer justify-content-between d-flex align-items-center">
                                                <div class="d-none d-md-block">
                                                {% if labbooks.labbook.is_cancelled %}
                                                     <h6><span class="badge bg-danger">Cancelled</span>
                                                    </h6> 
                                                {% else %}
                                                   
                                                    {% if labbooks.labbook.status == "accepted" %}
                                                        <h6><span class="badge bg-primary">Accepted Your Appointment on:</span> 
                                                        <span>{{labbooks.labbook.accepted_date}}</span></h6>
                                                    {% elif labbooks.labbook.status == "rejected" %}
                                                    <h6><span class="badge bg-danger">Rejected on:</span></h3>
                                                        <span>{{labbooks.labbook.rejected_date}}</span></h6>
                                                    {% elif labbooks.labbook.status == "taken" %}
                                                        <h6><span class="badge bg-success">Treatment on:</span>
                                                        <span>{{labbooks.labbook.taken_date}}</span></h6> 
                                                    {% else %}
                                                        <h6><span class="badge bg-warning">Applied on (Pending):</span></strong>
                                                        <span>{{labbooks.labbook.created_at}}</span></h6>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                                <div class="card-hover-show">
                                                {% if labbooks.labbook.is_cancelled == False%}
                                                    <a class="btn btn-sm btn-white border lift" href="#" download><i class="icofont-download text-primary"></i> Invoice</a>
                                                    {% if labbooks.labbook.report %}
                                                    {% if labbooks.labbook.send_to_doctor == False %}
                                                    <a class="btn btn-sm btn-white border lift" href="{% url 'send_to_doctor' labbooks.labbook.id  %}">Send</a>{% endif %}
                                                    <a type="button" class="btn btn-outline-secondary deleterow" href="{{labbooks.labbook.report}}" download><i class="icofont-download text-primary"></i> Report</a>
                                                    {% endif %}
                                                    {% if labbooks.labbook.status == "accepted" or  labbooks.labbook.status == none %}
                                                    <a class="btn btn-sm btn-white border lift" href="{% url 'cancellabbookedanappointment' labbooks.labbook.id %}">Cancel</a>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}  
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination mt-4">
                                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>  <!-- Row end  -->
                            </div> <!-- tab end  -->
                            <div class="tab-pane fade" id="Invoice-Pharmacy">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12">
                                    {% for book in phamacybooking %}
                                        <div class="card mb-3">
                                            <div class="card-body d-sm-flex justify-content-between">
                                                <a href="{% url 'pharmacy_confirmation' book.id %}" class="d-flex">
                                                    <img class="avatar rounded-circle" src="{{book.pharmacy.profile_pic}}" alt="">
                                                    <div class="flex-fill ms-3 text-truncate">
                                                        <h6 class="d-flex justify-content-between mb-0"><span>{{book.pharmacy}}</span></h6>
                                                        <span class="text-muted">{{book.pharmacy.about}}</span><br>
                                                        <h6 class="text-muted">PH-{{book.id}}</h6>
                                                    </div>
                                                </a>
                                                
                                                <div class="text-end d-none d-md-block">
                                                    <p class="mb-1"><i class="icofont-location-pin ps-1"></i> {{book.pharmacy.address}}{{book.pharmacy.city}}{{book.pharmacy.pin_code}}{{book.pharmacy.state}}</p>
                                                   
                                                    <i class="icofont-ui-calendar ps-1"></i> <span class="badge rounded-pill bg-info">{{book.applied_date}} {{book.applied_time}}</span><br>
                                                    <span class="text-muted"><i class="icofont-money ps-1"></i>&#x20B9;{{book.amount}}</span>
                                                </div>
                                            </div>
                                            <div class="card-footer justify-content-between d-flex align-items-center">
                                                <div class="d-none d-md-block">
                                                {% if book.is_cancelled %}
                                                     <h6><span class="badge bg-danger">Cancelled</span>
                                                    </h6> 
                                                {% else %}                                                   
                                                    {% if book.status == "accepted"%}
                                                        <h6><span class="badge bg-primary">Accepted Your Appointment on:</span> 
                                                        <span>{{book.accepted_date}}</span></h6>
                                                    {% elif book.status == "Amount Uploded" and book.store_invoice%}
                                                        <h6><span class="badge bg-primary">Need to pay  &#x20B9;{{book.amount}} :</span> 
                                                    {% elif book.status == "Amount Paid"%}
                                                        <h6><span class="badge bg-primary">Amount paid  &#x20B9;{{book.amount}} :</span> 
                                                    {% elif book.status == "rejected" %}
                                                    <h6><span class="badge bg-danger">Rejected on:</span></h3>
                                                        <span>{{book.rejected_date}}</span></h6>
                                                    {% elif book.status == "taken" and book.amount_paid == True %}
                                                        <h6><span class="badge bg-success">Medicine Delivered:</span>
                                                        <span>{{book.taken_date}}</span></h6>                                
                                                    {% else %}
                                                        <h6><span class="badge bg-warning">Applied on (Pending):</span></strong>
                                                        <span>{{book.created_at}}</span></h6>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                                <div class="card-hover-show">
                                                {% if book.is_cancelled == False%}
                                                    <a class="btn btn-sm btn-white border lift" href="#" download><i class="icofont-download text-primary"></i> Invoice</a>
                                                    <a class="btn btn-sm btn-white border lift" href="#">Send</a>
                                                    
                                                    {% if book.status == "accepted" or book.status == "booked" %}
                                                    <a class="btn btn-sm btn-white border lift" href="{% url 'CancelPictureForMedicineViews' book.id %}">Cancel</a>
                                                    {% endif %}
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}  
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination mt-4">
                                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>  <!-- Row end  -->
                            </div> <!-- tab end  -->
                        </div>
                    </div>

                </div> <!-- Row end  -->
            </div>
        </div>

{% endblock content %}


{% block modal_fade %}
{% endblock modal_fade %}

{% block custom_js %}

<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
   
{% endblock custom_js %}
