{% extends 'patient/base.html' %}
{% load static %}
{% block title %} :: I-Health::  Hospital List {% endblock title %}

{% block custom_css %}
<style>

/* for demo purposes */
body {
  
}
.container_foto article {
	padding: 10%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}

/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.ver_mas {
	background-color: #FEB66C;
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.ver_mas span {
	font-size: 40px;
	color: #fff;
	position: relative;
	margin: 0 auto;
	width: 100%;
	top: 13px;
}

.container_foto:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}
.container_foto:hover .ver_mas {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}
.container_foto:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}
</style>


{% endblock custom_css %}

{% block content %}
    <!-- Visit https://codepen.io/nicolaskadis/full/brQEOd/ for the latest, no js version! -->
<div class="infinite-container">
  <div class="row text-center">
  {% for hospital in object_list %}
    <div class="col-md-4 card-container">
      <div class="card card-flip">
        <div class="front card-block container_foto">
        
          <!-- To add FontAwesome Icons use Unicode characters and to set size use font-size instead of fa-*x because when calculating the height (see js), the size of the icon is not calculated if using classes -->
          {% comment %} <span class="card-img-top fa" style="font-size: 4em">&#xf118;</span> {% endcomment %}            
          <a href="#" ><img src="{{hospital.hospital.profile_pic}}" alt="" width="300" height="300"></a>
          <h4 class="card-title">{{hospital.hospital.hopital_name}}</h4>
          <h6 class="card-subtitle text-muted">{{hospital.hospital.landline}}</h6>
          <p class="card-text">{{hospital.hospital.specialist}}</p>
        </div>
        <div class="back card-block">
            
          <p>
          
            {{hospital.hospital.hospital_name}}<br> to
            <br> {{hospital.hospital.about|slice:15}}<a href="#" ><span class="badge rounded-pill bg-primary"> read more</span></a>
            <br> {{hospital.hospital.address1}} {{hospital.hospital.address2}}
            <br> {{hospital.hospital.city}}-{{hospital.hospital.pin_code}}
            <br> {{hospital.hospital.state}}{{hospital.hospital.country}}
            <br> {{hospital.hospital.state}}
            <br> {{hospital.hospital.website}}
            
          </p>
          <a href="{% url 'hospital_details' hospital.hospital.id %}" class="btn btn-outline-primary">Book An Appointment</a>
        </div>
      </div>
    </div>
    {% endfor %}

    {% comment %} <div class="loading" style="display: none;">
    Loading...
    </div>

    {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %} {% endcomment %}
    
           <nav aria-label="Page navigation">
              
              <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="{% url 'hospital_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}" tabindex="-1" >Previous</a>
                  </li>
                  {% else %}
                  <li class="page-item"><a class="page-link" aria-disabled="true" href="#">Previous</a></li>
                  {% endif %}

                  {% for i in  paginator.page_range %}
                  <li class="page-item"><a class="page-link" href="{% url 'hospital_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>
                  {% endfor %}

                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="{% url 'hospital_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                  {% else %}
                  <li class="page-item">
                      <a class="page-link" aria-disabled="true"  href="#">Next</a>
                  </li>
                  {% endif %}
                
              </ul>
            </nav> 
         
  </div>
 
</div>


{% endblock content %}

{% block modal_fade %}
 
{% endblock modal_fade %}



{% block custom_js %}
<!-- NO JS VERSION: https://codepen.io/nicolaskadis/full/brQEOd/ -->
<script>

$(document).ready(function() {
  var front = document.getElementsByClassName("front");
  var back = document.getElementsByClassName("back");

  var highest = 0;
  var absoluteSide = "";

  for (var i = 0; i < front.length; i++) {
    if (front[i].offsetHeight > back[i].offsetHeight) {
      if (front[i].offsetHeight > highest) {
        highest = front[i].offsetHeight;
        absoluteSide = ".front";
      }
    } else if (back[i].offsetHeight > highest) {
      highest = back[i].offsetHeight;
      absoluteSide = ".back";
    }
  }
  $(".front").css("height", highest);
  $(".back").css("height", highest);
  $(absoluteSide).css("position", "absolute");
});
</script>
<!--For infinite scrolling or paginaion-->
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
   

{% endblock custom_js %}