
{% extends 'patient/base1.html' %}
{% load static %}
{% block title %} :: I-Health::  Pharmacy Medicine Appointment{% endblock title %}

{% block custom_css %}
<style>
a.disabled {
  pointer-events: none;
  cursor: default;
}
</style>
{% endblock custom_css %} 

{% block content %}
{% comment %} {% if booking.status == "accepted" %}
  <h6>Your booking is accepted </h6>
{% endif %}
{% if booking.status == "rejected" %}
  <h6>Your booking is rejected </h6>
{% endif %}
{% if booking.status == "taken" %}
  <h6>Your booking is competed </h6>
{% endif %}
{% if booking.status == "" %}
{% endif %} {% endcomment %}
<div>
<span id="status"></span>
  <h5><strong> Your Appointment has been booked </strong></h5><br>
  <span id="sub_title"><h6>You are waiting for Pharmacy Approval </h6></span>

</div>
<h3>Status</h3>
<span class="badge rounded-pill bg-secondary" id="status_html">Pending</span><br></br>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 00%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div>
 
  </br><h5><span  id="amount_status">Invoice Not Uploaded yet</span><span id="amount_payable"></span>
      <a type="button" class="btn btn-primary disabled" href="{% url 'payformedicine' picturesformedicine.id %}" id="payment_status">Pay Now</a>
      {% if picturesformedicine.store_invoice %}
      <a type="button" class="btn btn-outline-secondary" href="{{picturesformedicine.store_invoice}}" download="" data-bs-placement="top" title="Download your Invoice"><i class="icofont-download text-primary"></i> Download Invoice</a>{% endif %}
</div>
{% endblock content %}


{% block modal_fade %}
{% endblock modal_fade %}

{% block custom_js %}
<script> 

  var booking_id = '{{picturesformedicine.id}}'
  if(window.location.protocol == 'https'){
        wsProtocol = 'wss://'
    }else{ wsProtocol = 'ws://'}
    let socket =  new WebSocket(wsProtocol + window.location.host + '/ws/patientpicture/' + booking_id)

 

  socket.onopen = function(e){
    console.log("connected with slot booking")
  }
  socket.onmessage = function(e){
    console.log(e.data)
    var data = JSON.parse(e.data)
    console.log(data.payload.status)
    var amount_payable = data.payload.amount
    var invoice_payable = data.payload.invoice
    if(data.payload.amount_paid == "0" && invoice_payable != "" ){
      var amount_payable_js = document.querySelector('#amount_payable')
      amount_payable_js.innerHTML = amount_payable
      var amount_status_js = document.querySelector('#amount_status')
      amount_status_js.innerHTML = "You are expected to pay : "
      var element = document.getElementById("payment_status");
      element.classList.remove("disabled");
            
    }
    if(data.payload.amount_paid == "1" && invoice_payable != "" ){
      var amount_status_js = document.querySelector('#amount_status')
      amount_status_js.innerHTML = "Your payment has been made take your order now"
      var element = document.getElementById("payment_status");
      element.classList.add("disabled");
    }
    increaseProgress(data.payload.status,data.payload.progress)
    }
  socket.onclose = function(e){

  }
  function increaseProgress(status,progress){
    var status_js = document.querySelector('#status_html')
    var progress_js = document.querySelector('.progress-bar')
    progress_js.style.width = progress + "%"
    
    progress_js.style.width = progress + "%"
    if(status == ""){
      status_js.innerHTML = "Pending"
    }
    else{
      status_js.innerHTML = status
    }
    if(status == "taken"){
      progress_js.classList.add('bg-success')
    }
    if(status == "rejected"){
      progress_js.classList.add('bg-danger')
    }
   
  }

// redirect to google after 5 seconds
//window.setTimeout(function() {
  //  window.location.href = 'http://www.google.com';
//}, 5000);

// Your delay in milliseconds
//var delay = 5000;
//setTimeout(function(){ window.location = "{% url 'patient_home' %}"; }, delay);
</script>
{% endblock custom_js %}