{% load static %}
 <div class="sidebar px-4 py-4 py-md-5 me-0">
        <div class="d-flex flex-column h-100">
            <a href="{% url 'patient_home' %}" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <i class="icofont-heart-beat fs-2"></i>
                </span>
                <span class="logo-text">I-Health</span>
            </a>
            <!-- Menu: main ul -->

            <ul class="menu-list flex-grow-1 mt-3">
             {% url 'patient_home' as patient_home %}
                <li class="collapsed">
                <a class="m-link {% if request.path == patient_home %} active {% endif %}" data-bs-toggle="collapse" data-bs-target="#dashboard" href="#">
                <i class="icofont-ui-home fs-5"></i> <span>Dashboard</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse {% if request.path == patient_home %} show {% endif %}" id="dashboard">
                        <li><a class="ms-link {% if request.path == patient_home %} active {% endif %}" href="{% url 'patient_home' %}">Patient Dashboard</a></li>
                        <li><a class="ms-link" href="coviddashboard.html"> Covid-19 Dashboard</a></li>
                    </ul>
                </li>
                <li><a class="m-link" href="virtual.html"><i class="icofont-ui-video-chat fs-5"></i> <span>I-Health Virtual</span></a></li>
                {% url 'hospital_list' as hospital_list %}
                {% url 'hospital_details' as hospital_details %}
               
                <li class="collapsed">
                    <a class="m-link{% if request.path == hospital_list %} active {% endif %} {% if request.path == hospital_details %} active {% endif %} {% if request.path == viewbookedanappointment %} active {% endif %}" data-bs-toggle="collapse" data-bs-target="#menu-Hospital" href="#">
                        <i class="icofont-hospital fs-5"></i>  <span>Hospitals</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse{% if request.path == patient_hospital_listhome %} show {% endif %}{% if request.path == hospital_details %} show {% endif %}{% if request.path == viewbookedanappointment %} show {% endif %}" id="menu-Hospital">
                            <li><a class="ms-link {% if request.path == hospital_list %} active {% endif %} {% if request.path == hospital_details %} active {% endif %}" href="{% url 'hospital_list' %}">All Hospitals</a></li>
                        </ul>
                </li>
                {% url 'laboratory_list' as laboratory_list %}
                {% url 'laboratory_details' as laboratory_details %}
                 <li class="collapsed">
                    <a class="m-link{% if request.path == laboratory_list %} active {% endif %} {% if request.path == laboratory_details %} active {% endif %} {% if request.path == viewbookedanappointment %} active {% endif %}" data-bs-toggle="collapse" data-bs-target="#menu-Labs" href="#">
                        <i class="icofont-blood-test fs-5"></i>  <span>Labs</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse{% if request.path == laboratory_list %} show {% endif %}{% if request.path == laboratory_details %} show {% endif %}{% if request.path == viewbookedanappointment %} show {% endif %}" id="menu-Labs">
                            <li><a class="ms-link  {% if request.path == laboratory_list %} active {% endif %}" href="{% url 'laboratory_list' %} ">All Laboratories</a></li>
                            
                        </ul>
                </li>        
                 {% url 'pharmacy_list' as pharmacy_list %}
                {% url 'laboratory_details' as laboratory_details %}
                 <li class="collapsed">
                    <a class="m-link{% if request.path == pharmacy_list %} active {% endif %} {% if request.path == laboratory_details %} active {% endif %} {% if request.path == viewbookedanappointment %} active {% endif %}" data-bs-toggle="collapse" data-bs-target="#menu-pharmacys" href="#">
                        <i class="icofont-blood-test fs-5"></i>  <span>Pharmacy</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse{% if request.path == pharmacy_list %} show {% endif %}{% if request.path == laboratory_details %} show {% endif %}{% if request.path == viewbookedanappointment %} show {% endif %}" id="menu-pharmacys">
                            <li><a class="ms-link{% if request.path == pharmacy_list %} active {% endif %}" href="{% url 'pharmacy_list' %} ">All Pharmacy</a></li>
                            
                        </ul>
                </li>                 
                {% url 'viewbookedanappointment' as viewbookedanappointment %}
                

                <li class="collapsed">
                    <a class="m-link{% if request.path == viewbookedanappointment %} active {% endif %}" data-bs-toggle="collapse" data-bs-target="#menu-Appointments" href="#">
                        <i class="icofont-book-alt"></i>  <span>Appointments</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse{% if request.path == patient_hospital_listhome %} show {% endif %}{% if request.path == hospital_details %} show {% endif %}{% if request.path == viewbookedanappointment %} show {% endif %}" id="menu-Appointments">
                            <li><a class="ms-link  {% if request.path == viewbookedanappointment %} active {% endif %}" href="{% url 'viewbookedanappointment' %} ">Appointments</a></li>
                        </ul>
                </li>
                {% comment %} <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Patient" href="#">
                    <i class="icofont-blind fs-5"></i> <span>Patient</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-Patient">
                        <li><a class="ms-link" href="patient-list.html">Patient List</a></li>
                        <li><a class="ms-link" href="patient-add.html">Add Patient</a></li>
                        <li><a class="ms-link" href="patient-profile.html">Patient Profile</a></li>
                        <li><a class="ms-link" href="patient-invoices.html">Patient Invoices</a></li>
                    </ul>
                </li>
                <li><a class="m-link" href="accidents.html"><i class="icofont-stretcher fs-5"></i> <span>Accidents</span></a></li>
                <li><a class="m-link" href="labs.html"><i class="icofont-blood-test fs-5"></i> <span>Labs</span></a></li>
                <li><a class="m-link" href="department.html"><i class="icofont-hospital fs-5"></i> <span>Department</span></a></li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-Componentsone" href="#"><i
                            class="icofont-ui-calculator"></i> <span>Accounts</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="menu-Componentsone">
                        <li><a class="ms-link" href="invoices.html"><span>Invoices</span> </a></li>
                        <li><a class="ms-link" href="payments.html"><span>Payments</span> </a></li>
                        <li><a class="ms-link" href="expenses.html"><span>Expenses</span> </a></li>
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#app" href="#">
                    <i class="icofont-code-alt fs-5"></i> <span>App</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="app">
                        <li><a class="ms-link" href="calendar.html">Calandar</a></li>
                        <li><a class="ms-link" href="chat.html"> Communication</a></li>
                    </ul>
                </li>
                <li><a class="m-link" href="ui-elements/ui-alerts.html"><i class="icofont-paint fs-5"></i> <span>UI Components</span></a></li>
               
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#page" href="#">
                    <i class="icofont-page fs-5"></i> <span>Pages Example</span> <span class="arrow icofont-rounded-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="page">
                        <li><a class="ms-link" href="table.html">Table Example</a></li>
                        <li><a class="ms-link" href="forms.html"> Forms Example</a></li>
                        <li><a class="ms-link" href="icon.html"> Icons Example</a></li>
                        <li><a class="ms-link" href="contact.html"> Contact Example</a></li>
                    </ul>
                </li> {% endcomment %}
                
            </ul>
            
            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>