{% extends 'hospital/base.html' %}
{% load static %}
{% block title %} :: I-Health::  Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
   {% comment %} <div class="card">
      <div class="card-header">
        <h4>Bordered</h4>
      </div>
      <div class="card-body">
        <div class="section-title mt-0">Light</div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Monday</th>
              <th scope="col">Tuesday</th>
              <th scope="col">Wednessday</th>
              <th scope="col">Thursday</th>
              <th scope="col">Friday</th>
              <th scope="col">Saturday</th>
              <th scope="col">Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div> {% endcomment %}
            <!-- Body: Body -->       
      <div class="body d-flex py-lg-4 py-md-2">
            <div class="container-xxl">
               
                <div class="row align-items-center clearfix g-3">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">{{hospitalstaffdoctor}}'S Doctor Schedule</h3>
                            <div class="col-auto d-flex w-sm-100">
                                <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#depadd{{hospitalstaffdoctor.doctor.id}}"><i class="icofont-plus-circle me-2 fs-6"></i>Add Schedule</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                  <div class="col-sm-12">                        
                            <div class="card mb-3">                              
                              <div class="card-body">                                
                                <table class="table  align-middle mb-0" id="myProjectTable" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th>Time</th>
                                      <th>Monday</th>
                                      <th>Tuesday</th>
                                      <th>Wednessday</th>
                                      <th>Thursday</th>
                                      <th>Friday</th>
                                      <th>Saturday</th>
                                      <th>Sunday</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {% for hospitalstaffdoctorschedule in hospitalstaffdoctorschedual %}
                                    <tr>
                                      <th>{{hospitalstaffdoctorschedule.start_time|time:"H:i"}} to {{hospitalstaffdoctorschedule.end_time|time:'H:i'}}</th></a>
                                      <td>{% if hospitalstaffdoctorschedule.monday == "YES" %}<a data-bs-toggle="modal" data-bs-target="#depupdate{{hospitalstaffdoctorschedule.id}}">{{hospitalstaffdoctorschedule.work}}</a>{% endif %}</td>
                                     <td>{% if hospitalstaffdoctorschedule.tuesday == "YES" %}<a data-bs-toggle="modal" data-bs-target="#depupdate{{hospitalstaffdoctorschedule.id}}">{{hospitalstaffdoctorschedule.work}}</a>{% endif %}</td>
                                      <td>{% if hospitalstaffdoctorschedule.wednesday == "YES" %}<a data-bs-toggle="modal" data-bs-target="#depupdate{{hospitalstaffdoctorschedule.id}}">{{hospitalstaffdoctorschedule.work}}</a>{% endif %}</td>
                                      <td>{% if hospitalstaffdoctorschedule.thursday == "YES" %}<a data-bs-toggle="modal" data-bs-target="#depupdate{{hospitalstaffdoctorschedule.id}}">{{hospitalstaffdoctorschedule.work}}</a>{% endif %}</td>
                                      <td>{% if hospitalstaffdoctorschedule.friday == "YES" %}<a data-bs-toggle="modal" data-bs-target="#depupdate{{hospitalstaffdoctorschedule.id}}">{{hospitalstaffdoctorschedule.work}}</a>{% endif %}</td>
                                      <td>{% if hospitalstaffdoctorschedule.saturday == "YES" %}<a data-bs-toggle="modal" data-bs-target="#depupdate{{hospitalstaffdoctorschedule.id}}">{{hospitalstaffdoctorschedule.work}}</a>{% endif %}</td>
                                      <td>{% if hospitalstaffdoctorschedule.sunday == "YES" %}<a data-bs-toggle="modal" data-bs-target="#depupdate{{hospitalstaffdoctorschedule.id}}">{{hospitalstaffdoctorschedule.work}}</a>{% endif %}</td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                                
                              </div>
                            </div>
                         
                  </div>
                </div><!-- Row End -->
            </div>
        </div>
     
{% endblock content %}

{% block modal_fade %}
<!--Start Add Schedual-->
{% for doctor in doctors %}
    <div class="modal fade" id="depadd{{doctor.id}}" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel"> Schedule Add</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="deadline-form">
                        <form method="post">
                        {% csrf_token %}
                            <div class="row g-3 mb-3">
                                <div class="col-md-12">
                                  <div class="form-group">
                                      <label class="form-label">Days</label>
                                      <br>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                      <!--For reference -->
                                          {% comment %} <input type="checkbox" name="checkbox" value="Monday" required="" data-parsley-errors-container="#error-checkbox"> {% endcomment %}
                                          <input type="checkbox" name="Monday" value="YES">
                                          <span>Monday</span>
                                      </label>
                                      <label class="fancy-checkbox mb-3" style="margin-left:19px;">
                                          <input type="checkbox" name="Tuesday" value="YES">
                                          <span>Tuesday</span>
                                      </label>
                                      <label class="fancy-checkbox mb-3" style="margin-left:19px;">
                                          <input type="checkbox" name="Wednesday" value="YES">
                                          <span>Wednesday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Thursday" value="YES">
                                          <span>Thursday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Friday" value="YES">
                                          <span>Friday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Saturday" value="YES">
                                          <span>Saturday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Sunday" value="YES">
                                          <span>Sunday</span>
                                      </label>
                                      <p id="error-checkbox"></p>
                                  </div>
                              </div>
                              <div class="col-sm-">
                                <label for="work" class="form-label">Schedual Day</label>
                                <select class="form-select" aria-label="Default select example" name="work">
                                <option  value="OPD"{% if hospitalstaffdoctorschedule.work == "OPD" %}selected{% endif %}>OPD</option>
                                <option  value="OT"{% if hospitalstaffdoctorschedule.work == "OT" %}selected{% endif %}>OT</option>
                                <option  value="Patient-Visit"{% if hospitalstaffdoctorschedule.work == "Patient-Visit" %}selected{% endif %}>Patient Visit</option>
                                <option  value="Break"{% if hospitalstaffdoctorschedule.work == "Break" %}selected{% endif %}>Break</option>
                                <option  value="Not-Working"{% if hospitalstaffdoctorschedule.work == "Not-Working" %}selected{% endif %}>Not Working On this time</option>
                                </select>
                              </div> 
                              <div class="col-sm-6">
                                <label for="start_time" class="form-label">Start Schedule Time</label>
                                <input type="time" class="form-control" id="start_time" name="start_time">
                              </div>
                              <div class="col-sm-6">
                                <label for="end_time" class="form-label">End Schedule Time</label>
                                <input type="time" class="form-control" id="end_time" name="end_time">
                              </div>
                              <div class="col-sm-6">
                                <label for="break_time_start" class="form-label">Start Breack Time</label>
                                <input type="time" class="form-control" id="break_time_start" name="break_time_start">
                              </div>
                              <div class="col-sm-6">
                                <label for="break_time_end" class="form-label">End Breack Time</label>
                                <input type="time" class="form-control" id="break_time_end" name="break_time_end">
                              </div>
                              <div class="col-sm-12">
                                <label for="break_time_end" class="form-label">Duration for OPD ( In Minutes ) </label>
                                <input type="text" class="form-control"  placeholder="10 or 15 ..etc" id="opd_duration" name="opd_duration">
                              </div>
                            </div>
                            <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                        </form>
                    </div>
                </div>
                
            </div>
            </div>
        </div>  
{% endfor %}
<!--End Add Schedual-->

<!-- Start Update delete schedule-->
{% for hospitalstaffdoctorschedule in hospitalstaffdoctorschedual %}
    <div class="modal fade" id="depupdate{{hospitalstaffdoctorschedule.id}}" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel"> Schedule Add</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="deadline-form">
                        <form method="post" action = "{% url 'update_doctorschedule' hospitalstaffdoctorschedule.id hospitalstaffdoctorschedule.hospitalstaffdoctor.id %}"> 
                        {% csrf_token %}
                            <div class="row g-3 mb-3">
                                <div class="col-md-12">
                                  <div class="form-group">
                                      <label class="form-label">Days</label>
                                      <br>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                      <!--For reference -->
                                          {% comment %} <input type="checkbox" name="checkbox" value="Monday" required="" data-parsley-errors-container="#error-checkbox"> {% endcomment %}
                                          <input type="checkbox" name="Monday" value="YES" {% if hospitalstaffdoctorschedule.monday == "YES" %}checked{% endif %}>
                                          <span>Monday</span>
                                      </label>
                                      <label class="fancy-checkbox mb-3" style="margin-left:19px;">
                                          <input type="checkbox" name="Tuesday" value="YES" {% if hospitalstaffdoctorschedule.tuesday == "YES" %}checked{% endif %}>
                                          <span>Tuesday</span>
                                      </label>
                                      <label class="fancy-checkbox mb-3" style="margin-left:19px;">
                                          <input type="checkbox" name="Wednesday" value="YES" {% if hospitalstaffdoctorschedule.wednesday == "YES" %}checked{% endif %}>
                                          <span>Wednesday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Thursday" value="YES" {% if hospitalstaffdoctorschedule.thursday == "YES" %}checked{% endif %}>
                                          <span>Thursday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Friday" value="YES" {% if hospitalstaffdoctorschedule.friday == "YES" %}checked{% endif %}>
                                          <span>Friday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Saturday" value="YES" {% if hospitalstaffdoctorschedule.saturday == "YES" %}checked{% endif %}>
                                          <span>Saturday</span>
                                      </label>
                                      <label class="fancy-checkbox" style="margin-left:19px;">
                                          <input type="checkbox" name="Sunday" value="YES" {% if hospitalstaffdoctorschedule.sunday == "YES" %}checked{% endif %}>
                                          <span>Sunday</span>
                                      </label>
                                      <p id="error-checkbox"></p>
                                  </div>
                              </div>
                              {% comment %} <div class="col-sm-3">
                                <label for="shift" class="form-label">Schedule Day</label>
                                <select class="form-select" aria-label="Default select example" name="shift">
                                <option  value="Morning"{% if hospitalstaffdoctorschedule.shift == "Morning" %}selected{% endif %}>Morning</option>
                                <option  value="Noon" {% if hospitalstaffdoctorschedule.shift == "Noon" %}selected{% endif %}>Noon</option>
                                <option  value="Evening" {% if hospitalstaffdoctorschedule.shift == "Evening" %}selected{% endif %}>Evening</option>
                                <option  value="All-Day" {% if hospitalstaffdoctorschedule.shift == "All-Day" %}selected{% endif %}>All Day</option>
                                {% comment %} <option  value="Friday">Friday</option>
                                <option  value="Saturday">Saturday</option>
                                <option  value="Sunday">Sunday</option> 
                                </select>
                              </div>{% endcomment %}
                              <div class="col-sm-12">
                                <label for="work" class="form-label">Schedual Day  *</label>
                                <select class="form-select" aria-label="Default select example" name="work">
                                <option  value="OPD"{% if hospitalstaffdoctorschedule.work == "OPD" %}selected{% endif %}>OPD</option>
                                <option  value="OT"{% if hospitalstaffdoctorschedule.work == "OT" %}selected{% endif %}>OT</option>
                                <option  value="Patient-Visit"{% if hospitalstaffdoctorschedule.work == "Patient-Visit" %}selected{% endif %}>Patient Visit</option>
                                <option  value="Break"{% if hospitalstaffdoctorschedule.work == "Break" %}selected{% endif %}>Break</option>
                                <option  value="Not-Working"{% if hospitalstaffdoctorschedule.work == "Not-Working" %}selected{% endif %}>Not Working On this time</option>
                                </select>
                              </div> 

                              <div class="col-sm-6">
                                <label for="start_time" class="form-label">Start Schedule Time *</label>
                                <input type="time" class="form-control" id="start_time" name="start_time" value="{{hospitalstaffdoctorschedule.start_time|time:"H:i"}}" >
                              </div>
                              <div class="col-sm-6">
                                <label for="end_time" class="form-label">End Schedule Time *</label>
                                <input type="time" class="form-control" id="end_time" name="end_time" value="{{hospitalstaffdoctorschedule.end_time|time:"H:i"}}">
                              </div>
                              <div class="col-sm-6">
                                <label for="break_time_start" class="form-label">Start Breack Time *</label>
                                <input type="time" class="form-control" id="break_time_start" name="break_time_start" value="{{hospitalstaffdoctorschedule.break_time_start|time:"H:i"}}">
                              </div>
                              <div class="col-sm-6">
                                <label for="break_time_end" class="form-label">End Breack Time *</label>
                                <input type="time" class="form-control" id="break_time_end" name="break_time_end" value="{{hospitalstaffdoctorschedule.break_time_end|time:"H:i"}}">
                              </div>
                              <div class="col-sm-12">
                                <label for="break_time_end" class="form-label">Duration for OPD ( In Minutes ) *</label>
                                <input type="text" class="form-control"  placeholder="10 or 15 ..etc"  value ="{{hospitalstaffdoctorschedule.opd_duration }}" id="opd_duration" name="opd_duration">
                              </div>
                            </div>
                            <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <a href="{% url 'delete_doctorschedual' hospitalstaffdoctorschedule.id hospitalstaffdoctorschedule.hospitalstaffdoctor.id  %}" class="btn btn-secondary">Delete</a>
                </div>
                        </form>
                    </div>
                </div>
                
            </div>
            </div>
        </div>  
{% endfor %}
<!--  End Update Delete schedule-->
{% endblock modal_fade %}

{% block custom_js %}
<script>
 
    </script>
    {% endblock custom_js %}