{% extends 'radmin/base.html' %}
{% load static %}
{% block title %} :: I-Health::  Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
            <!-- Body: Body -->       
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">{{hospitalstaffdoctor}}'SDoctor Schedule</h3>
                            <div class="col-auto d-flex w-sm-100">
                                <button type="button" class="btn btn-primary btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#depadd"><i class="icofont-plus-circle me-2 fs-6"></i>Add Schedule</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                  <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body overflow-auto">
                                <div class="schedule">

                                    <div class="schedule_header">
                                        <span class="dl">Time</span>
                                        <span class="ds">Ti</span>
                                    </div>
                                
                                    <!-- week-->
                                    <div class="schedule_header schedule-sunday">
                                        <span class="dl">Sunday</span>
                                        <span class="ds">Su</span>
                                    </div>
                                    <div class="schedule_header schedule-monday">
                                        <span class="dl">Monday</span>
                                        <span class="ds">M</span>
                                    </div>
                                    <div class="schedule_header schedule-tuesday">
                                        <span class="dl">Tuesday</span>
                                        <span class="ds">T</span>
                                    </div>
                                    <div class="schedule_header schedule-wednesday">
                                        <span class="dl">Wednesday</span>
                                        <span class="ds">W</span>
                                    </div>
                                    <div class="schedule_header schedule-thursday">
                                        <span class="dl">Thursday</span>
                                        <span class="ds">Th</span>
                                    </div>
                                    <div class="schedule_header schedule-friday">
                                        <span class="dl">Friday</span>
                                        <span class="ds">F</span>
                                    </div>
                                    <div class="schedule_header schedule-saturday">
                                        <span class="dl">Saturday</span>
                                        <span class="ds">Sa</span>
                                    </div>
                                
                                    <!-- Time-->
                                <!--Set in side twelve hour schedule-->
                                    <div class="schedule_time time-from-s">07:00 AM</div>
                                    <div class="schedule_time time-from-sf">08:15 AM</div>
                                    <div class="schedule_time time-from-st">10:30 AM</div>
                                    <div class="schedule_time time-from-sff">12:45 AM</div>
                                
                                    <div class="schedule_time time-from-e">01:00 PM</div>
                                    <div class="schedule_time time-from-ef">02:15 PM</div>
                                    <div class="schedule_time time-from-et">03:30 PM</div>
                                    <div class="schedule_time time-from-eff">04:45 PM</div>
                                
                                    <div class="schedule_time time-from-n">05:00 PM</div>
                                    <div class="schedule_time time-from-nf">06:15 PM</div>
                                    <div class="schedule_time time-from-nt">07:30 PM</div>
                                    <div class="schedule_time time-from-etp">08:30 PM</div>
                                    <div class="schedule_time time-from-nff">09:45 PM</div>
                                    
                                
                                    <!--  Grid Rows-->
                                
                                    <div class="grid time-from-s time-to-sf schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-sf time-to-st schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-st time-to-sff schedule-row-from-sunday schedule-row-to-saturday"></div>
                                
                                    <div class="grid time-from-sff time-to-e schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-e time-to-ef schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-ef time-to-et schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-et time-to-eff schedule-row-from-sunday schedule-row-to-saturday"></div>
                                
                                    <div class="grid time-from-eff time-to-n schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-n time-to-nf schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-nf time-to-nt schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-nt time-to-etp schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid time-from-etp time-to-nff schedule-row-from-sunday schedule-row-to-saturday"></div>
                                    <div class="grid grid-last time-from-nff time-to-nff schedule-row-from-sunday schedule-row-to-saturday"></div>
                                
                                    <!--   ./Grid Rows-->
                                
                                    <div class="grid schedule-sunday time-from-s time-to-nff"></div>
                                    <div class="grid grid-last schedule-sunday time-from-nff time-to-nff"></div>
                                    <div class="grid schedule-monday time-from-s time-to-nff"></div>
                                    <div class="grid grid-last schedule-monday time-from-nff time-to-nff"></div>
                                
                                    <div class="grid schedule-tuesday time-from-s time-to-nff"></div>
                                    <div class="grid grid-last schedule-tuesday time-from-nff time-to-nff"></div>
                                
                                    <div class="grid schedule-wednesday time-from-s time-to-nff"></div>
                                    <div class="grid grid-last schedule-wednesday time-from-nff time-to-nff"></div>
                                
                                    <div class="grid schedule-thursday time-from-s time-to-nff"></div>
                                    <div class="grid grid-last schedule-thursday time-from-nff time-to-nff"></div>
                                
                                    <div class="grid schedule-friday time-from-s time-to-nff"></div>
                                    <div class="grid grid-last schedule-friday time-from-nff time-to-nff"></div>
                                
                                    <div class="grid schedule-saturday time-from-s time-to-nff"></div>
                                    <div class="grid grid-last schedule-saturday time-from-nff time-to-nff"></div>
                                
                                </div>
                            </div>
                        </div>
                  </div>
                </div><!-- Row End -->
            </div>
        </div>
     
{% endblock content %}

{% block modal_fade %}
<!--Start Add Schedual-->
{% for doctor in doctors %}
    <div class="modal fade" id="depadd{{doctor.id}}" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel"> Schedule Add</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="deadline-form">
                        <form>
                            <div class="row g-3 mb-3">
                              <div class="col-sm-6">
                                <label for="days" class="form-label">Schedule Day</label>
                                <select class="form-select" aria-label="Default select example" name="days">
                                <option  value="Monday">Monday</option>
                                <option  value="Tuesday">Tuesday</option>
                                <option  value="Wednessday">Wednessday</option>
                                <option  value="Thursday">Thursday</option>
                                <option  value="Friday">Friday</option>
                                <option  value="Saturday">Saturday</option>
                                <option  value="Sunday">Sunday</option>
                                </select>
                              </div>
                              <div class="col-sm-6">
                                <label for="work" class="form-label">Schedule Day</label>
                                <select class="form-select" aria-label="Default select example" name="work">
                                <option  value="OPD">OPD</option>
                                <option  value="Surgery">OT</option>
                                <option  value="Patient Visit">Patient Visit</option>
                                <option  value="Break">Break</option>
                                <option  value="Not-Working">Not Working On this time</option>
                                </select>
                              </div>

                              <div class="col-sm-6">
                                <label for="start_time" class="form-label">Start Schedule Time</label>
                                <input type="time" class="form-control" id="start_time" name="start_time">
                              </div>
                              <div class="col-sm-6">
                                <label for="end_time" class="form-label">End Schedule Time</label>
                                <input type="time" class="form-control" id="end_time" name="end_time">
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
            </div>
        </div>  
{% endfor %}
<!--End Add Schedual-->
{% endblock modal_fade %}

{% block custom_js %}{% endblock custom_js %}