{% extends 'radmin/base.html' %}
{% load static %}
{% block title %} :: I-Health::  Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
  
 <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Add Patients</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Patients Basic Inforamtion</h6>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                            <label for="firstname" class="form-label">First Name</label>
                                            <input type="text" class="form-control" id="firstname">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="lastname" class="form-label">Last Name</label>
                                            <input type="text" class="form-control" id="lastname">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="phonenumber" class="form-label">Phone Number</label>
                                            <input type="text" class="form-control" id="phonenumber">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="emailaddress" class="form-label">Email Address</label>
                                            <input type="email" class="form-control" id="emailaddress">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="admitdate" class="form-label">Admit Date</label>
                                            <input type="date" class="form-control" id="admitdate">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="admittime" class="form-label">Admit Time</label>
                                            <input type="time" class="form-control" id="admittime">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="formFileMultiple" class="form-label">Files Document Upload</label>
                                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                                        </div>
                                        <div class="col-md-6">
                                            <label  class="form-label">Gender</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios11" value="option1" checked>
                                                        <label class="form-check-label" for="exampleRadios11">
                                                         Male
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios22" value="option2">
                                                        <label class="form-check-label" for="exampleRadios22">
                                                           Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="addnote" class="form-label">Add Note</label>
                                            <textarea  class="form-control" id="addnote" rows="3"></textarea> 
                                        </div>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Registration Information</h6>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-md-6">
                                            <label  class="form-label">Select Payment Option</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Payment Option</option>
                                                <option value="1">Credit Card</option>
                                                <option value="2">Debit Card</option>
                                                <option value="3">Case Money</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label  class="form-label">Insurance Information</label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                                        <label class="form-check-label" for="exampleRadios1">
                                                          Yes I have Insurance
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                        <label class="form-check-label" for="exampleRadios2">
                                                            No I haven't Insurance
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="insinfo" class="form-label">Insurance Number</label>
                                            <input type="text" class="form-control" id="insinfo">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="roominfo" class="form-label">Ward Number</label>
                                            <input type="text" class="form-control" id="roominfo">
                                        </div>
                                        <div class="col-md-6">
                                            <label  class="form-label">Select Doctor</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Select Doctor</option>
                                                <option value="1">Vanessa Miller</option>
                                                <option value="2">Rebecca Hunter</option>
                                                <option value="3">Matt Clark</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="advancepayment" class="form-label">Advance Amount</label>
                                            <input type="text" class="form-control" id="advancepayment">
                                        </div>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary mt-4">Submit</button>
                                </form>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
{% endblock content %}

{% block custom_js %}{% endblock custom_js %}