{% extends 'hospital/base.html' %}
{% load static %}
{% block title %} :: I-Health::  Dashboard {% endblock title %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
   <!-- Body: Body -->
        <div class="body d-flex py-3">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">Patient Overview</h3>
                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row g-3 mb-3">
                    <div class="col-xl-4 col-lg-12 col-md-12">
                        <div class="card teacher-card mb-3 flex-column">
                            <div class="card-body d-flex teacher-fulldeatil flex-column">
                                <div class="profile-teacher text-center w220 mx-auto">
                                    <a href="#">
                                        <img src="{{treatmentreliefpetient.patient.profile_pic}}" alt="" class="avatar xl rounded-circle img-thumbnail shadow-sm">
                                    </a>
                                    <div class="about-info d-flex align-items-center mt-3 justify-content-center flex-column">
                                        <span class="text-muted small">Patient ID : P-{{treatmentreliefpetient.patient.id}}</span>
                                    </div>
                                </div>
                                <div class="teacher-info   w-100">
                                    <h6  class="mb-0 mt-2  fw-bold d-block fs-6 text-center">{{treatmentreliefpetient.patient.fisrt_name}} {{treatmentreliefpetient.patient.last_name}}</h6>
                                    <span class="py-1 fw-bold small-11 mb-0 mt-1 text-muted text-center mx-auto d-block">{{treatmentreliefpetient.patient.age}} years, {{treatmentreliefpetient.patient.city}}</span>
                                    <p class="mt-2">{{treatmentreliefpetient.booking.add_note}}</p>
                                    <div class="row g-2 pt-2">
                                        <div class="col-xl-12">
                                            <div class="d-flex align-items-center">
                                                <i class="icofont-ui-touch-phone"></i>
                                                <span class="ms-2">{{treatmentreliefpetient.patient.admin.phone}} </span>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="d-flex align-items-center">
                                                <i class="icofont-email"></i>
                                                <span class="ms-2">{{treatmentreliefpetient.patient.admin.email}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="d-flex align-items-center">
                                                <i class="icofont-birthday-cake"></i>
                                                <span class="ms-2">{{treatmentreliefpetient.patient.dob}}</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-12">
                                            <div class="d-flex align-items-center">
                                                <i class="icofont-address-book"></i>
                                                <span class="ms-2">{{treatmentreliefpetient.patient.address}},  {{treatmentreliefpetient.patient.city}},{{treatmentreliefpetient.patient.state}}-{{treatmentreliefpetient.patient.zip_Code}}.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Calorie Counter</h6>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-end text-center">
                                    <div class="p-2">
                                        <h6 class="mb-0 fw-bold">1790 Kcal</h6>
                                        <span class="text-muted">Eaten</span>
                                    </div>
                                    <div class="p-2 ms-4">
                                        <h6 class="mb-0 fw-bold">450 Kcal</h6>
                                        <span class="text-muted">Burned</span>
                                    </div>
                                </div>
                                <div id="apex-circle-gradient"></div>
                                <div class="row">
                                    <div class="col">
                                        <span class="mb-3 d-block">Fat</span>
                                        <div class="progress-bar  bg-secondary" role="progressbar" style="width: 55%; height: 5px;"></div>
                                        <span class="mt-2 d-block text-secondary">24g left</span>
                                    </div>
                                    <div class="col">
                                        <span class="mb-3 d-block">Carbs</span>
                                        <div class="progress-bar  bg-primary" role="progressbar" style="width: 60%; height: 5px;"></div>
                                        <span class="mt-2 d-block text-primary">78g left</span>
                                    </div>
                                    <div class="col">
                                        <span class="mb-3 d-block">Protein</span>
                                        <div class="progress-bar  bg-lavender-purple" role="progressbar" style="width: 70%; height: 5px;"></div>
                                        <span class="mt-2 d-block color-lavender-purple">28 left</span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Payment Method</h6>
                            </div>
                            <div class="card-body">
                                <div class="payment-info">
                                    <h5 class="payment-name text-muted"><i class="icofont-visa-alt fs-3"></i> Visa *******7548</h5>
                                    <span>Next billing charged $48</span>
                                    <br>
                                    <em class="text-muted">Autopay on July 20, 2021</em>
                                    <a href="javascript:void(0);" class="edit-payment-info text-secondary">Edit Payment Info</a>
                                </div>
                                <p class="mt-3"><a href="javascript:void(0);" class="btn btn-primary"> Add Payment Info</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12">
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Documents </h6>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#depadd">Add Documents</button>
                            </div>
                            <div class="card-body">
                                <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4">
                                    {% for patientfile in patientfiles %}
                                    <div class="col">
                                        <div class="patientinfo-file shadow-sm p-3">
                                            <div class="patient-did p-2 bg-primary">
                                                <i class="icofont-surgeon fs-4 text-white"></i>
                                            </div>
                                            <span class="text-end float-end small"> {{patientfile.created_at}}</span>
                                            <h6 class="fw-bold mt-4 pt-4 mb-4">{{patientfile.file_purpose}}</h6>
                                            <div class="d-flex align-items-center">
                                                <img src="{{patientfile.hospitaldoctors.doctor.profile_pic}}" class="avatar   rounded-circle me-2" alt="profile-image">
                                                <span class="ms-1 small">{{patientfile.hospitaldoctors}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}                                    
                                </div>
                            </div>                           
                        </div>
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Reports </h6>
                            </div>
                            <div class="card-body">
                                <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4">
                                    {% for labtest in labtests %}
                                    <div class="col">
                                        <div class="patientinfo-file shadow-sm p-3">
                                            <div class="patient-did p-2">
                                                <a type="button" href="{{labtest.slot.report}}" download><i class="icofont-download text-primary fs-4 text-white"></i></a>
                                            </div>
                                            <span class="text-end float-end small">{{labtest.slot.taken_date}}</span>
                                            <h6 class="fw-bold mt-4 pt-4 mb-4">{{labtest.service}}</h6>
                                            <div class="d-flex align-items-center">
                                                <img src="{{labtest.lab.profile_pic}}" class="avatar   rounded-circle me-2" alt="profile-image">
                                                <span class="ms-1 small">{{labtest.lab}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}                                    
                                </div>
                            </div>                           
                        </div>

                        {% comment %} <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Daily Task</h6>
                            </div>
                            <div class="card-body">
                                <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-3">
                                    <div class="col">
                                        <div class="d-flex align-items-center justify-content-between shadow-sm p-3">
                                            <div class="left-info">
                                                <span class="text-muted">Breakfast</span>
                                                <h5 class="fw-bold my-2">390 Kcal</h5>
                                                <span class="text-muted">Eaten</span>
                                            </div>
                                            <div class="right-info">
                                                <i class="icofont-coffee-mug fs-1 color-danger"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center justify-content-between shadow-sm p-3">
                                            <div class="left-info">
                                                <span class="text-muted">Lunch</span>
                                                <h5 class="fw-bold my-2">390 Kcal</h5>
                                                <span class="text-muted">Eaten</span>
                                            </div>
                                            <div class="right-info">
                                                <i class="icofont-spoon-and-fork fs-1 color-lightgreen"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="d-flex align-items-center justify-content-between shadow-sm p-3">
                                            <div class="left-info">
                                                <span class="text-muted">Dinner</span>
                                                <h5 class="fw-bold my-2">390 Kcal</h5>
                                                <span class="text-muted">Recommended</span>
                                            </div>
                                            <div class="right-info">
                                                <i class="icofont-restaurant fs-1 color-lavender-purple"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                                <h6 class="mb-0 fw-bold ">Healthy Dishes </h6>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#foodadd">Order Food</button>
                            </div>
                            <div class="card-body">
                                <div class="owl-carousel owl-theme owl-carouselthree food-order">
                                    <div class="item border">
                                        <i class="icofont-egg-poached text-center mx-auto d-block pt-3 color-lightyellow"></i>
                                        <h5 class="fw-bold my-3 px-3">Omelette</h5>
                                        <div class="food-order-btn d-flex justify-content-between my-3 px-3">
                                            <span class="text-muted">340 Kcal</span>
                                            <button type="button" class="btn btn-light text-light"><i class="icofont-plus text-primary"></i></button>
                                        </div>
                                    </div>
                                    <div class="item border">
                                        <i class="icofont-fruits text-center mx-auto d-block pt-3 color-lavender-purple"></i>
                                        <h5 class="fw-bold my-3 px-3">Fruits Dishes</h5>
                                        <div class="food-order-btn d-flex justify-content-between my-3 px-3">
                                            <span class="text-muted">640 Kcal</span>
                                            <button type="button" class="btn btn-light text-light"><i class="icofont-plus text-primary"></i></button>
                                        </div>
                                    </div>
                                    <div class="item border">
                                        <i class="icofont-soup-bowl text-center mx-auto d-block pt-3 color-light-orange"></i>
                                        <h5 class="fw-bold my-3 px-3">Soup </h5>
                                        <div class="food-order-btn d-flex justify-content-between my-3 px-3">
                                            <span class="text-muted">140 Kcal</span>
                                            <button type="button" class="btn btn-light text-light"><i class="icofont-plus text-primary"></i></button>
                                        </div>
                                    </div>
                                    <div class="item border">
                                        <i class="icofont-chicken text-center mx-auto d-block pt-3 color-careys-pink"></i>
                                        <h5 class="fw-bold my-3 px-3">Chicken </h5>
                                        <div class="food-order-btn d-flex justify-content-between my-3 px-3">
                                            <span class="text-muted">840 Kcal</span>
                                            <button type="button" class="btn btn-light text-light"><i class="icofont-plus text-primary"></i></button>
                                        </div>
                                    </div>
                                    <div class="item border">
                                        <i class="icofont-juice text-center mx-auto d-block pt-3 color-light-success"></i>
                                        <h5 class="fw-bold my-3 px-3">Juice </h5>
                                        <div class="food-order-btn d-flex justify-content-between my-3 px-3">
                                            <span class="text-muted">180 Kcal</span>
                                            <button type="button" class="btn btn-light text-light"><i class="icofont-plus text-primary"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="card">
                            <div class="card-body">
                                <table id="patient-table" class="table table-hover align-middle mb-0" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>B Id</th>
                                            <th>Booking date</th>
                                            <th>Amount Paid</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for book  in oldbooking %}
                                        <tr>
                                            <td>{{book.id}}</td>
                                            <td>
                                            {% comment %} <img src="assets/images/xs/avatar3.jpg" class="avatar  rounded-circle me-2" alt="profile-image"> {% endcomment %}
                                            <span><a href="{% url 'relief_patient_profile' book.patient.id %}">{{book.booking.applied_date}} {{book.booking.applied_time}}</a></span></td>
                                            <td>{{book.amount_paid}}</td>
                                            <td><h6><span class="badge {% if book.status == "CHECKUPED" %}bg-primary{% endif %}{% if  book.status == "Admit" %}bg-info{% endif %}{% if  book.status == "Discharge" %}bg-success{% endif %}">{{book.status}}</span></td></h6>
                                            <td>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <a type="button" class="btn btn-outline-secondary deleterow" id="deleteroom" href="{% url 'delete__relief_hospital_patient' book.id %}" ><i class="icofont-ui-delete text-danger"></i><a>
                                            </div>
                                            </td>
                                        </tr>
                                    
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% comment %} <div class="row mb-3">
                        <div class="card">
                            <div class="card-body">
                                <table id="patient-table" class="table table-hover align-middle mb-0" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>B Id</th>
                                            <th>Booking date</th>
                                            <th>Amount Paid</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for book  in oldbooking %}
                                        <tr>
                                            <td>{{book.id}}</td>
                                            <td>
                                            <span><a href="{% url 'relief_patient_profile' book.patient.id %}">{{book.booking.applied_date}} {{book.booking.applied_time}}</a></span></td>
                                            <td>{{book.amount_paid}}</td>
                                            <td><h6><span class="badge {% if book.status == "CHECKUPED" %}bg-primary{% endif %}{% if  book.status == "Admit" %}bg-info{% endif %}{% if  book.status == "Discharge" %}bg-success{% endif %}">{{book.status}}</span></td></h6>
                                            <td>
                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                <a type="button" class="btn btn-outline-secondary deleterow" id="deleteroom" href="{% url 'delete__relief_hospital_patient' book.id %}" ><i class="icofont-ui-delete text-danger"></i><a>
                                            </div>
                                            </td>
                                        </tr>
                                    
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div><!-- Row End -->
            </div>
        </div>
     
{% endblock content %}

{% block modal_fade %}
<!-- Add Document-->
        <div class="modal fade" id="depadd" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depaddLabel"> Documents Add</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="deadline-form">
                        <form action="{% url 'relief_patient_files' treatmentreliefpetient.id %}" method="post" enctype="multipart/form-data" id="docform">
                        {% csrf_token %}
                            <div class="row g-3 mb-3">
                              <div class="col-sm-12">
                                <label for="depone" class="form-label">Documents Upload</label>
                                <input type="file" class="form-control" id="depone" name="file">
                              </div>
                              <div class="col-md-12">
                                <label  class="form-label">Select Doctor</label>
                                <select class="form-select" aria-label="Default select example" name="hospitaldoctors">
                                    <option selected>Select Doctor</option>
                                    {% for hospitaldoctor  in hospitaldoctors %}
                                        <option value="{{hospitaldoctor.id}}">{{hospitaldoctor}}</option>
                                    {% endfor %} hospitaldoctors
                                </select>
                              </div>
                              <div class="col-md-12">
                                <label  class="form-label">Select Service</label>
                                <select class="form-select" aria-label="Default select example" name="file_purpose">
                                    <option selected>Select File For</option>
                                    {% for serviceandcharge  in serviceandcharges %}
                                        <option value="{{serviceandcharge}}">{{serviceandcharge}}</option>
                                    {% endfor %} hospitaldoctors
                                </select>
                              </div>
                              <div class="col-sm-12">
                                <label for="amount_paid" class="form-label">Amount Paid</label>
                                <input type="text" class="form-control" id="amount_paid" name="amount_paid">
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Documents Note</label>
                        <textarea class="form-control" form="docform" rows="4" name="file_addnote"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button> {% endcomment %}
                    <button type="submit" class="btn btn-primary" form="docform" id="submit_button">Add</button>
                </div>
            </div>
            </div>
        </div>

{% endblock modal_fade %}

{% block custom_js %}

{% endblock custom_js %}